<form [formGroup]="form" (submit)="save()">
  <app-edit-page-wrapper
    title="Discord bot configuration"
    [saveDisabled]="(store.isSaving | async) === true || !form.valid || form.pristine">

    <div formArrayName="guilds"
      class="surface surface--white py-4">
      <div class="mdc-typography--headline5 mx-2">
        Guild
      </div>
      <div class="mdc-typography--subtitle1 mx-2">
        Enable Discord bot on the following Discord servers:
      </div>

      <div *ngFor="let guild of store.availableGuilds | async; let i = index"
        [formGroupName]="i"
        class="w-100 my-3">
        <div class="d-flex flex-row align-items-start">
          <div class="d-flex flex-column">
            <div class="d-flex flex-row align-items-center mdc-typography--headline6 fw-bold guild-name">
              <img [src]="guild.icon" crossorigin="anonymous" width="36" class="mx-2 guild-icon">
              {{guild.name}}
            </div>

            <div class="d-flex flex-row my-1 ps-5">
              <span class="flex-fill me-2">Admins' notifications channel:</span>
              <select formControlName="adminNotificationsChannelId"
                class="admin-notifications-channel-id-select">
                <option value="null">Disabled</option>
                <option *ngFor="let channel of guild.textChannels | sortChannels"
                  [ngValue]="channel.id"
                  >
                  {{channel.name}}
                </option>
              </select>
            </div>

            <div class="d-flex flex-row my-1 ps-5">
              <span class="flex-fill me-2">Queue notifications channel:</span>
              <select formControlName="queueNotificationsChannelId"
                class="queue-notifications-channel-id-select">
                <option value="null">Disabled</option>
                <option *ngFor="let channel of guild.textChannels | sortChannels"
                  [ngValue]="channel.id"
                  >
                  {{channel.name}}
                </option>
              </select>
            </div>

            <div class="d-flex flex-row my-1 ps-5">
              <span class="flex-fill me-2">Substitute notification mention role:</span>
              <select formControlName="substituteMentionRole"
                class="substitute-mention-role-select">
                <option value="null">Disabled</option>
                <option *ngFor="let role of guild.roles"
                  [ngValue]="role.id">{{role.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-edit-page-wrapper>
</form>
