@use 'theme';
@use 'utils/color';

@mixin make($background-color) {
  border-radius: 0.8rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
  font-weight: 600;
  padding: 0.3rem 0.9rem;
  background-color: $background-color;
  color: color.black-or-white($background-color);
  font-size: 0.8rem;
}

.badge,
%badge {
  @include make(rgb(255, 255, 255));
}

.badge--online {
  @include make(theme.$online);
}

.badge--offline {
  @include make(theme.$offline);
}
