@use 'sass:color';
@use 'theme';
@use 'utils/text-color';

$border-radius: 0.5rem;
$height: 36px;

@mixin border($color) {
  $border-color: color.change($color, $alpha: 0.12);
  border: 1px solid $border-color;
}

@mixin core {
  margin: 0;
  padding: 0 0.7rem;

  border-radius: $border-radius;

  font-weight: 500;
  font-size: 0.875rem;
}

@mixin outline($color) {
  @include core;
  @include border($color);
  background-color: transparent;
  color: $color;

  &:hover {
    background-color: color.adjust(theme.$primary, $alpha: -0.9);
  }

  &.active {
    background-color: color.adjust(theme.$primary, $alpha: -0.8);
  }

  &:focus {
    outline: 0;
  }
}

.button--outline {
  @include outline(theme.$primary);
}

@mixin contained($color) {
  @include core;

  height: $height;

  border: 0;

  background-color: $color;
  color: text-color.on-background($color);
}

.button--contained {
  @include contained(theme.$primary);
}
