@use 'sass:color';

$-card-background-color: rgb(255, 255, 255);

.card,
%card {
  display: block;
  padding: 0.5rem 1rem;

  background-color: $-card-background-color;
  border-radius: 1rem;

  color: color.invert($-card-background-color);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.card-link,
%card-link {
  @extend %card;

  &:hover {
    background-color: color.scale($-card-background-color, $lightness: -7%);
  }
}
