@use 'sass:color';
@use 'variables';

$background-color: rgb(255, 255, 255);
$border-radius: variables.$default-border-radius;

%card-shadow {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.card,
%card {
  @extend %card-shadow;

  display: block;
  padding: 0.5rem 1rem;

  background-color: $background-color;
  border-radius: $border-radius;

  color: color.invert($background-color);
}

.card-link,
%card-link {
  @extend %card;

  &:hover {
    background-color: color.scale($background-color, $lightness: -7%);
  }
}
