@use 'sass:color';
@use 'theme';

@mixin common {
  text-align: center;
}

@mixin core-styles {
  .detail--label {
    @include common;

    color: color.adjust(theme.$on-primary, $lightness: -10%);
    font-weight: 300;
  }

  .detail--value {
    @include common;

    font-weight: 600;
    color: theme.$on-primary;

    a {
      color: theme.$on-primary;

      &:hover {
        color: theme.$on-primary;
      }
    }
  }
}
