@use 'sass:color';

$label-background-color: rgb(255, 255, 255);

@mixin common {
  text-align: center;
}

.detail--label {
  @include common;

  display: block;
  padding: 0 2rem;
  width: 12rem;
  padding: 0.1rem 1rem;

  border-radius: 0.8rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);

  background-color: $label-background-color;
  color: color.invert($label-background-color);

  font-size: 1.4rem;
  font-weight: 600;
}

.detail--value {
  @include common;

  font-weight: 500;
}
