@use 'sass:color';
@use 'theme';

@mixin make {
  display: inline-block;
}

@mixin color($color) {
  background-color: $color;
  box-shadow: 0 0 3px color.adjust($color, $lightness: -30%, $alpha: -0.6);
}

@mixin size($size) {
  width: $size;
  height: $size;
  border-radius: ($size / 2);
}

@mixin core-styles {
  .indicator {
    @include make;
    @include size(15px);
  }

  .indicator--online {
    @include color(theme.$online);
  }

  .indicator--offline {
    @include color(theme.$offline);
  }

  .indicator--warning {
    @include color(theme.$warning);
  }
}
