@use "@material/ripple";
@use "variables";
@use "theme";

// A customizable surface for pretty much every textual
// content.

@mixin make {
  padding: 8px 16px;
  border-radius: variables.$default-border-radius;
  font-weight: 400;
}

@mixin ink-color($color) {
  color: $color;
}

@mixin fill-color($color) {
  background-color: $color;
}

@mixin shadow {
  box-shadow: 0 0 1rem rgb(0 0 0 / 50%);
}

@mixin ripple {
  @include ripple.surface;
  @include ripple.radius-bounded;
  @include ripple.states;

  overflow: hidden;
}

@mixin core-styles {
  .surface {
    @include make;
    @include shadow;
    @include fill-color(theme.$surface);
    @include ink-color(theme.$on-surface);

    &__content {
      padding: 32px;
    }

    &--white {
      @include fill-color(white);
    }
  }
}
