@use 'sass:color';
@use 'theme';
@use 'utils/ghost';

%queue-status {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1.5rem 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

  text-align: center;
  font-size: 1.8rem;
  color: theme.$font-color-dark;
}

.queue-status {
  &-waiting {
    @extend %queue-status;
    background-color: rgba(255, 255, 255, 0.7);
  }

  &-loading {
    @extend %queue-status;
    background-color: rgba(255, 255, 255, 0.7);

    .ghost-line {
      @include ghost.make-line(200px, 43px, theme.$font-color-dark);
    }
  }
}
