@use 'sass:color';
@use 'theme';
@use 'variables';
@use 'utils/ghost';
@use 'utils/transition';

.queue-status {
  @include transition.background-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1.5rem 0.5rem;
  padding: 0.5rem;
  border-radius: variables.$default-border-radius;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

  text-align: center;
  font-size: 1.8rem;
  color: theme.$font-color-dark;

  &.waiting {
    background-color: theme.$queue-status-waiting;
  }

  &.ready {
    background-color: theme.$queue-status-ready-up;
  }

  &.launching {
    background-color: theme.$queue-status-launching;
  }

  &.loading {
    background-color: rgba(255, 255, 255, 0.7);

    .ghost-line {
      @include ghost.make-line(200px, 43px, theme.$font-color-dark);
    }
  }
}

.fill {
  flex: 1 1 0;
}

.pre-ready-up-container {
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;
}
