<div *ngIf="loading | async; else queueLoaded"
  class="queue-status loading">
  <div class="fill"></div>
  <div class="ghost-line"></div>
  <div class="fill"></div>
</div>

<ng-template #queueLoaded>
  <div class="queue-status"
    [ngClass]="{
      'waiting': 'waiting',
      'ready': 'ready',
      'launching': 'launching'
    }[state | async]">
    <div class="fill"></div>
    <ng-container *ngIf="['ready', 'waiting'].includes(state | async); else launching">
      <span><strong>players:</strong> {{ playerCount | async }} / {{ requiredPlayerCount | async }}</span>
      <div class="pre-ready-up-container">
        <app-pre-ready-up-button *ngIf="isInQueue | async"></app-pre-ready-up-button>
      </div>
    </ng-container>

    <ng-template #launching>
      <span>launching...</span>
      <div class="fill"></div>
    </ng-template>
  </div>
</ng-template>
