@use 'variables';

body {
  background-attachment: fixed;
  background-image: url('/assets/bg_night_blur.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: variables.$footer-height;
}
