server {
  listen       80;
  listen  [::]:80;
  server_name  ${CLIENT_BRANDING};

  add_header X-XSS-Protection "1; mode=block";
  add_header X-Frame-Options "SAMEORIGIN";
  add_header Referrer-Policy same-origin;
  add_header X-Content-Type-Options nosniff;
  add_header Cross-Origin-Opener-Policy same-origin;
  add_header Cross-Origin-Embedder-Policy require-corp;
  add_header Content-Security-Policy "default-src 'self' https://${API_URL} wss://${API_URL}; object-src 'none'; img-src 'self' https://avatars.steamstatic.com https://steamcdn-a.akamaihd.net https://avatars.akamai.steamstatic.com https://static-cdn.jtvnw.net https://mapthumbnails.tf2pickup.org; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; frame-ancestors 'none'";

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
    try_files $uri $uri/ /index.html;
  }

  #error_page  404              /404.html;
}
