@use 'components/surface';
@use 'utils/respond';
@use 'theme';
@use 'variables';

.request-notification-permissions {
  @include surface.make;
  @include surface.shadow;
  @include surface.ink-color(theme.$on-secondary);

  display: flex;

  @include respond.above(huge) {
    flex-flow: row wrap;
    align-items: center;
  }

  @include respond.below(huge) {
    flex-flow: column wrap;
  }

  &.default {
    @include surface.fill-color(theme.$secondary);
  }

  &.denied {
    @include surface.fill-color(theme.$error);
  }

  .message-icon {
    @include respond.below(huge) {
      display: none;
    }
  }

  .message {
    flex: 1 1 auto;
  }

  .allow-notifications-button {
    flex: 0 0 auto;

    @include respond.below(huge) {
      align-self: flex-end;
    }
  }
}
