<div class="container mx-auto my-4">
  <div class="player-list">
    <div *ngFor="let playerGroup of players | async"
      class="mdc-list-group">
      <h3 class="mdc-list-group__subheader">{{ playerGroup.key | uppercase }}</h3>

      <div class="mdc-list mdc-list--dense">
        <a *ngFor="let player of playerGroup.players"
          [routerLink]="['/player', player.id]"
          class="mdc-list-item">
          <span class="mdc-list-item__ripple"></span>
          <span  class="mdc-list-item__text">
            {{ player.name }}
            <i-tabler *ngIf="player | isAdmin" name="star" class="admin-badge"></i-tabler>
          </span>
        </a>
      </div>

      <hr class="mdc-list-divider">
    </div>
  </div>
</div>
