@use 'sass:color';
@use 'theme';

.player-list {
  padding: 32px;
  margin: 16px 0;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  background-color: theme.$text-background-color;
  color: theme.$primary;
}

.admin-badge {
  width: 16px;
  height: 16px;
  margin: 0 2px;

  fill: color.adjust(theme.$secondary, $lightness: -10%);
}
