<a *ngIf="stream"
  [href]="'https://www.twitch.tv/' + stream.userName"
  target="_blank"
  class="twitch-stream-list-item"
  [tooltip]="stream.title">
  <img
    [src]="stream.thumbnailUrl.replace('{width}', '100').replace('{height}', '50')"
    class="stream-thumbnail"
    width="100"
    height="50"
    crossorigin>
    <div class="content">
      <app-player-name [playerId]="stream.playerId"></app-player-name>
      <span><i-feather name="eye" class="mx-2"></i-feather>{{ stream.viewerCount }}</span>
    </div>
</a>
