<div *ngFor="let ban of bans | async"
  class="alert alert-danger"
  role="alert">
  <div>Ban issued by <strong><app-player-name [playerId]="ban.admin"></app-player-name></strong></div>
  <div>Expires: <strong>{{ ban.end | date:'medium' }}</strong></div>
  <div>Reason: <strong>{{ ban.reason }}</strong></div>
</div>

<app-active-game-snackbar *ngIf="activeGame | async as _activeGame"
  [game]="_activeGame"></app-active-game-snackbar>

<app-substitute-request-banner *ngFor="let sr of substituteRequests | async"
  [substituteRequest]="sr"></app-substitute-request-banner>
