<div *ngFor="let ban of bans | async"
  class="alert alert-danger"
  role="alert">
  <div>Ban issued by <strong><app-player-name [playerId]="ban.admin"></app-player-name></strong></div>
  <div>Expires: <strong>{{ ban.end | date:'medium' }}</strong></div>
  <div>Reason: <strong>{{ ban.reason }}</strong></div>
</div>

<app-active-game-snackbar [game]="activeGame | async"></app-active-game-snackbar>

<div *ngFor="let sr of substituteRequests | async"
  class="alert alert-warning"
  role="alert">
  <h4 class="alert-heading">Substitute needed</h4>
  <p>Team <strong>{{ sr.team }}</strong> needs a substitute for <strong>{{ sr.gameClass }}</strong> in game #{{ sr.gameNumber }}.</p>
  <hr>
  <p class="mb-0">
    <a [routerLink]="['/game', sr.gameId]" class="alert-link">View game details</a>
  </p>
</div>
