@use 'theme';
@use 'utils/color';

.rules {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  background-color: theme.$text-background-color;
  color: color.black-or-white(theme.$text-background-color);
}
