<button
  type="button"
  class="mdc-button pre-ready-up-btn"
  [class.active]="preReadied | async"
  (click)="preReadyToggle()"
  tooltip="Pre-ready up"
>
  <div class="mdc-button__ripple"></div>
  <i-tabler name="coffee" class="mdc-button__icon"></i-tabler>
  <ng-container *ngIf="preReadied | async; else notPreReadied">
    <span class="mdc-button__label">
      {{ timeout | async | seconds }}
    </span>
  </ng-container>
  <ng-template #notPreReadied>
    <span class="mdc-button__label">pre-ready up</span>
  </ng-template>
</button>
