<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">tf2pickup.pl</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/games">games</a>
      </li>
    </ul>

    <app-steam-login-button *ngIf="!isAuthenticated"></app-steam-login-button>
    <h2 *ngIf="profile | async as _profile">{{ _profile.name }}</h2>
  </div>
</nav>
