@use 'theme';
@use 'utils/border-radius';
@use 'utils/outline';
@use 'utils/respond';

// navigation bar itself
$-navigation-bar-height: 4.75rem;
$-navigation-bar-border-radius: 2.8125rem;
$-navigation-bar-shadow-color: rgba(0, 0, 0, 0.5);
$-navigation-bar-shadow: 0 0 0.5rem $-navigation-bar-shadow-color;

// navigation bar links
$-link-height: $-navigation-bar-height * 0.8687;
$-link-border-radius: 0.3125rem;
$-link-border-radius-bottom-right: 2.5rem;

.navigation-bar {
  @include border-radius.bottom($-navigation-bar-border-radius);

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  background-color: theme.$navigation-bar-background-color;
  box-shadow: $-navigation-bar-shadow;

  max-height: $-navigation-bar-height;
  min-height: $-navigation-bar-height;

  @include respond.below(huge) {
    justify-content: center;
  }
}

.logo {
  @include outline.disable;

  align-self: center;
  margin: 0 0.2rem;
}

.links {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 1rem;
  list-style: none;

  @include respond.below(huge) {
    display: none;
  }
}

.link-item {
  font-size: 1.6rem;
  font-weight: 700;

  %advanced {
    height: $-navigation-bar-height;
    padding-top: ($-navigation-bar-height - $-link-height);
  }

  > a {
    @include outline.disable;

    display: block;
    height: $-link-height;
    line-height: $-link-height;
    padding: 0 2rem;

    background-color: theme.$navigation-bar-link-background-color;

    border-radius: 0 0 $-link-border-radius-bottom-right $-link-border-radius;
    box-shadow: $-navigation-bar-shadow;

    transition: 0.1s;
    z-index: 1;

    color: #fff;

    &:hover {
      @extend %advanced;
      text-decoration: none;
    }

    &.active { /* stylelint-disable-line selector-no-qualifying-type */
      @extend %advanced;
      background-color: theme.$navigation-bar-background-color;
      box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem $-navigation-bar-shadow-color;
      z-index: 0;
    }
  }

  &.icon {
    > a {
      padding: 0 1.2rem;
      line-height: $-link-height * 0.9;

      &:hover {
        @extend %advanced;
      }
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.steam-login-button {
  align-self: center;
  margin: 0 2rem;

  @include respond.below(huge) {
    display: none;
  }
}

.profile-link {
  font-size: 1.8em;
  font-weight: 700;
}
