<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/logo.png" height="36" width="190">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/games" routerLinkActive="active">games</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/servers" routerLinkActive="active">servers</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/rules" routerLinkActive="active">rules</a>
      </li>
    </ul>

    <div class="navbar-text">
      <app-steam-login-button *ngIf="!isAuthenticated"></app-steam-login-button>
    </div>

    <span *ngIf="profile | async as _profile" class="profile-link">
      <a [routerLink]="['/player', _profile.id]" class="text-dark navbar-light navbar-nav nav-link">
        {{ _profile.name }}
      </a>
    </span>
  </div>
</nav>
