<div class="bg-light p-3 rounded d-flex flex-column align-items-center">
  <span class="text-secondary font-italic mb-2">vote for the next map</span>
  <div class="row">
    <div class="col d-flex flex-column align-items-center">
      <div class="map-thumbnail-container" style="background-image: url('/assets/map-thumbnails/process.png');">
        <div class="vote-count-overlay" style="height: 33%"></div>
      </div>
      <button type="button" class="mt-2 btn btn-sm btn-outline-dark active">cp_process_final</button>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <div class="map-thumbnail-container" style="background-image: url('/assets/map-thumbnails/snakewater.png');">
        <div class="vote-count-overlay" style="height: 83%"></div>
      </div>
      <button type="button" class="mt-2 btn btn-sm btn-outline-dark">cp_sunshine</button>
    </div>
    <div class="col d-flex flex-column align-items-center">
      <div class="map-thumbnail-container" style="background-image: url('/assets/map-thumbnails/sunshine.png');">
        <div class="vote-count-overlay" style="height: 100%"></div>
      </div>
      <button type="button" class="mt-2 btn btn-sm btn-outline-dark">cp_snakewater_final1</button>
    </div>
  </div>
</div>
