<div class="row text-muted mt-2">
  <div class="col">connect</div>
</div>

<div class="row">
  <div class="col-9">
    <span *ngIf="connectString; else noConnectString">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          [value]="connectString"
          readonly
          #connectInput>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            tooltip="Copy the connect string to the clipboard"
            (click)="copyConnectString()">copy</button>
          <a
            [href]="connectString | connectStringToLink"
            class="btn btn-outline-primary"
            type="button"
            tooltip="Join the game straight away">join</a>
        </div>
      </div>
    </span>
    <ng-template #noConnectString>
      <span class="font-italic text-muted">not available yet</span>
    </ng-template>
  </div>

  <div class="col">
    <app-mumble-join-button [gameId]="gameId"></app-mumble-join-button>
  </div>
</div>
