.twitch-integration-card {
  background-image: url('/assets/TwitchGlitchPurple.svg');
  background-size: 100px 100px;
  background-position: 98% 50%;
  background-repeat: no-repeat;

}

.twitch-integration-card-content {
  padding: 16px;
}
