<div class="container mx-auto">
  <div class="surface surface--white">
    <h6 class="mdc-typography--headline6">{{ (gameServer | async)?.name }} diagnostics</h6>

    <ng-container *ngIf="run | async as _run">
      <span class="mdc-typography--body1 run-status mb-2"
        [ngSwitch]="_run.status">
        Status:

        <span *ngSwitchCase="'completed'" class="status-completed">
          <i-tabler name="check"></i-tabler>
          {{ _run.status }}
        </span>

        <span *ngSwitchCase="'failed'" class="status-failed">
          <i-tabler name="x"></i-tabler>
          {{ _run.status }}
        </span>

        <span *ngSwitchDefault>
          {{ _run.status }}
        </span>
      </span>

      <app-diagnostic-check-info *ngFor="let check of _run.checks" [check]="check"></app-diagnostic-check-info>
    </ng-container>
  </div>
</div>
