<div class="d-flex flex-row align-items-center" [formGroup]="mapControl">
  <label
    class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label mdc-text-field--dense mx-2"
    #mapName
  >
    <span class="mdc-notched-outline">
      <span class="mdc-notched-outline__leading"></span>
      <span class="mdc-notched-outline__trailing"></span>
    </span>
    <input
      class="mdc-text-field__input map-name-input"
      type="text"
      aria-label="Map name"
      formControlName="name"
      placeholder="Map name"
      #mapNameInput
    />
  </label>

  <label
    class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-labels mdc-text-field--dense mx-2"
    #execConfig
  >
    <span class="mdc-notched-outline">
      <span class="mdc-notched-outline__leading"></span>
      <span class="mdc-notched-outline__trailing"></span>
    </span>
    <input
      class="mdc-text-field__input"
      type="text"
      aria-label="Config to execute"
      formControlName="execConfig"
      placeholder="Config to execute"
    />
  </label>

  <button
    type="button"
    class="mdc-icon-button remove-map-button"
    tooltip="Remove map"
    placement="top"
    container="body"
    (click)="remove.next()"
  >
    <i-tabler name="x"></i-tabler>
  </button>
</div>
