<div
  class="flex flex-row items-center gap-2 align-middle"
  [formGroup]="mapControl"
>
  <input
    class="rounded-md map-name-input"
    type="text"
    aria-label="Map name"
    formControlName="name"
    placeholder="Map name"
    #mapNameInput
  />

  <input
    class="rounded-md"
    type="text"
    aria-label="Config to execute"
    formControlName="execConfig"
    placeholder="Config to execute"
  />

  <button
    type="button"
    class="remove-map-button"
    tooltip="Remove map"
    (click)="remove.next()"
  >
    <i-tabler name="x"></i-tabler>
  </button>
</div>
