<div class="row">
  <div class="col d-flex flex-column align-items-center">
    <div class="detail--label">launched</div>
    <div class="detail--value">{{ launchedAt | date:'medium' }}</div>
  </div>

  <div class="col d-flex flex-column align-items-center">
    <div class="detail--label">map</div>
    <div class="detail--value">{{ map }}</div>
  </div>

  <div class="col d-flex flex-column align-items-center">
    <div class="detail--label">server</div>
    <div class="detail--value">{{ gameServerName }}</div>
  </div>

  <div class="col d-flex flex-column align-items-center">
    <div class="detail--label">state</div>
    <div class="detail--value">
      {{ state }}
      <span *ngIf="error">({{ error }})</span>
    </div>
  </div>
</div>
