<div class="container-fluid my-4">
  <form [formGroup]="form" (submit)="save()">
    <div class="flex flex-row items-center text-white">
      <button
        type="button"
        class="mdc-icon-button cancel-button focus-none"
        appNavigateBack
      >
        <i-tabler name="arrow-left" aria-hidden="true"></i-tabler>
      </button>

      <div class="grow mdc-typography--headline5">
        Edit document: {{ name.value }}
      </div>

      <button
        type="submit"
        class="mdc-button mdc-button--raised mdc-button--secondary mx-2 submit-button"
        [disabled]="(isSaving | async) === true || !form.valid || form.pristine"
      >
        <div class="mdc-button__ripple"></div>
        <i-tabler
          name="check"
          class="mdc-button__icon"
          aria-hidden="true"
        ></i-tabler>
        <span class="mdc-button__label">save</span>
      </button>
    </div>

    <div class="flex flex-row gap-4">
      <div class="flex-1">
        <label
          class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea mdc-text-field--no-label mx-2 my-4 document-edit"
          #documentEdit
        >
          <span class="mdc-text-field__ripple"></span>
          <textarea
            class="mdc-text-field__input"
            aria-label="Edit document"
            formControlName="body"
          ></textarea>
          <span class="mdc-line-ripple"></span>
        </label>
      </div>
      <div class="flex-1">
        <div class="surface">
          <div class="surface__content prose max-w-none">
            <markdown [data]="body.value" ngPreserveWhitespace></markdown>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
