<div class="container-fluid pt-3">
  <form [formGroup]="form" (submit)="save()">
    <div class="d-flex align-items-center">
      <button
        type="button"
        class="mdc-icon-button cancel-button focus-none"
        tooltip="Cancel"
        placement="top"
        container="body"
        appNavigateBack>
        <i-feather name="arrow-left" aria-hidden="true"></i-feather>
      </button>

      <div class="flex-grow-1 mdc-typography--headline5">
        Edit document: {{ name.value }}
      </div>

      <button type="submit"
        class="mdc-button mdc-button--raised mdc-button--secondary mx-2 submit-button"
        [disabled]="(isSaving | async) === true || !form.valid || form.pristine">
        <div class="mdc-button__ripple"></div>
        <i-feather name="check" class="mdc-button__icon" aria-hidden="true"></i-feather>
        <span class="mdc-button__label">save</span>
      </button>
    </div>

    <div class="row my-0">
      <div class="col-6">
        <label class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea mdc-text-field--no-label mx-2 my-4 w-100 document-edit" #documentEdit>
          <span class="mdc-text-field__ripple"></span>
          <textarea class="mdc-text-field__input" aria-label="Edit document" formControlName="body"></textarea>
          <span class="mdc-line-ripple"></span>
        </label>
      </div>
      <div class="col-6">
        <div class="surface">
          <markdown [data]="body.value" class="surface__content" ngPreserveWhitespace></markdown>
        </div>
      </div>
    </div>
  </form>
</div>
