<div *ngIf="hallOfFame | async as _hallOfFame" class="container mx-auto my-4">
  <p class="mdc-typography--subtitle2">
    <span class="font-weight-bold">Hall of Fame</span> is a selection of the most active players.
  </p>

  <div class="flex flex-row gap-4">
    <div class="flex-1 surface">
      <h4 class="mdc-typography--subtitle4">All classes</h4>

      <ul class="mdc-list">
        <a [routerLink]="['/player', player.player]"
          class="mdc-list-item d-flex justify-content-between"
          [class.top1]="i === 0"
          [class.top2]="i === 1"
          [class.top3]="i === 2"
          *ngFor="let player of _hallOfFame.mostActivePlayers; index as i">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">
            {{ i + 1 }}.
            <app-player-name [playerId]="player.player"></app-player-name>
          </span>
          <span class="mdc-list-item__text">{{ player.count }}</span>
        </a>
      </ul>
    </div>

    <div class="flex-1 surface">
      <h4 class="mdc-typography--subtitle4">Medics</h4>

      <ul class="mdc-list">
        <a [routerLink]="['/player', player.player]"
          class="mdc-list-item d-flex justify-content-between"
          [class.top1]="i === 0"
          [class.top2]="i === 1"
          [class.top3]="i === 2"
          *ngFor="let player of _hallOfFame.mostActiveMedics; index as i">
          <span class="mdc-list-item__ripple"></span>
          <span class="mdc-list-item__text">
            {{ i + 1 }}.
            <app-player-name [playerId]="player.player"></app-player-name>
          </span>
          <span class="mdc-list-item__text">{{ player.count }}</span>
        </a>
      </ul>
    </div>
  </div>
</div>
