<div *ngIf="player | async as _player"
  class="container">

  <h4>
    {{ _player.name }}
    <small class="text-muted ml-2">
      <a [href]="'http://steamcommunity.com/profiles/' + _player.steamId" target="_blank">steam</a>
      &bull;
      <!-- FIXME Pass ETF2L profile id once we have account verification done -->
      <a href="http://etf2l.org/" target="_blank">etf2l</a>
      &bull;
      <a [href]="'http://logs.tf/profile/' + _player.steamId" target="_blank">logs</a>
    </small>
  </h4>

  <div class="row text-muted">
    <div class="col">joined</div>
    <div class="col">games played</div>
  </div>

  <div class="row">
    <div class="col">{{ _player.joinedAt | date:'medium' }}</div>
    <div class="col">{{ _player.gameCount }}</div>
  </div>

  <h6 class="mt-5">Games</h6>

  <div class="list-group list-group-flush">
    <a *ngFor="let game of games | async"
      [routerLink]="['/game', game.id]"
      class="list-group-item list-group-item-action">
      #{{ game.number }} - {{ game.launchedAt | date:'medium' }} - {{ game.map }}
      <span *ngIf="game.state === 'launching'" class="badge badge-primary">launching</span>
      <span *ngIf="game.state === 'started'" class="badge badge-warning">in progress</span>
    </a>
  </div>
</div>
