<ng-container *ngIf="connectString; else noConnectString">
  <div class="input-group mt-3">
    <input
      type="text"
      [value]="connectString"
      readonly
      #connectInput>
    <div class="flex-fill"></div>
    <button
      class="dark right"
      type="button"
      tooltip="Copy the connect string to the clipboard"
      (click)="copyConnectString()">copy</button>
    <a
      [href]="connectString | connectStringToLink"
      type="button"
      tooltip="Join the game straight away">watch</a>
  </div>
</ng-container>

<ng-template #noConnectString>
  <span class="font-italic text-muted">not available yet</span>
</ng-template>
