@use "sass:color";
@use "@material/button";
@use "theme";
@use "variables";

.connect-string-wrapper {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(255 255 255);
  border-radius: variables.$default-border-radius;
  padding: 0;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 50%);
  color: theme.$on-surface;

  .connect-string {
    flex: 1 1 auto;
    padding: 6px 16px;
    border: 0;
    font-size: 1.4rem;
    border-radius: variables.$default-border-radius;
    color: theme.$on-surface;
    font-weight: 500;

    &.connect-unavailable {
      color: color.adjust(rgb(0 0 0), $lightness: 50%);
      font-size: 1.3rem;
    }
  }
}

.mdc-button--radius-right {
  @include button.shape-radius(0 16px 16px 0);
}

.mdc-button--radius-none {
  @include button.shape-radius(0);
}

.connect-timeout {
  display: inline-block;
  min-width: 60px;
  text-align: center;
  font-size: 1rem;
}
