<div class="connect-string-wrapper">
  <input
    type="text"
    class="connect-string"
    [value]="
      connectString || stvConnectString || 'the server is being configured...'
    "
    [class.connect-unavailable]="!connectString && !stvConnectString"
    readonly
  />

  <button
    *ngIf="connectString || stvConnectString"
    class="mdc-button mdc-button--large mdc-button--radius-none"
    type="button"
    tooltip="Copy the connect string to the clipboard"
    [cdkCopyToClipboard]="connectString || stvConnectString"
  >
    <div class="mdc-button__ripple"></div>
    <i-tabler
      name="clipboard"
      class="mdc-button__icon"
      aria-hidden="true"
    ></i-tabler>
    <span class="mdc-button__label"> copy </span>
  </button>

  <a
    *ngIf="connectString"
    [href]="connectString | connectStringToLink"
    class="mdc-button mdc-button--secondary mdc-button--large mdc-button--radius-right"
    type="button"
    tooltip="Join the game right away"
  >
    <div class="mdc-button__ripple"></div>
    <i-tabler
      name="player-play"
      class="mdc-button__icon"
      aria-hidden="true"
    ></i-tabler>
    <span class="mdc-button__label">
      connect
      <span *ngIf="connectSecondsLeft | async as c" class="connect-timeout">
        {{ c }}
      </span>
    </span>
  </a>

  <a
    *ngIf="stvConnectString"
    [href]="stvConnectString | connectStringToLink"
    class="mdc-button mdc-button--secondary mdc-button--large mdc-button--radius-right"
    type="button"
    tooltip="Watch the game"
  >
    <div class="mdc-button__ripple"></div>
    <i-tabler name="eye" class="mdc-button__icon" aria-hidden="true"></i-tabler>
    <span class="mdc-button__label"> watch </span>
  </a>
</div>
