<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <small>
        copyright &copy; 2020 tf2pickup.pl
        &bull;
        version {{ version }}

        <ng-container *ngFor="let link of links">
          &bull;
          <a [href]="link.target" target="_blank">{{ link.name }}</a>
        </ng-container>

        <ng-container *ngIf="isAuthenticated">
          &bull;
          <a [routerLink]="" (click)="logout()">logout</a>
        </ng-container>

        <ng-container *ngIf="isAdmin | async">
          &bull;
          <a routerLink="/player-skill-dump" class="text-secondary">player skills</a>
        </ng-container>
      </small>
    </span>
  </div>
</footer>
