$footer-height: 3rem;

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;

  .footer-content {
    color: #000000;
    font-size: 0.8em;
    font-weight: 500;

    a {
      color: #000000;
    }
  }
}
