<footer class="footer">
  <span class="footer__entry">© 2019-2023 tf2pickup.org</span>
  <span class="footer__entry">version {{ version }}</span>

  <ng-container *ngFor="let link of links">
    <span class="footer__entry">
      <a [href]="link.target" target="_blank">{{ link.name }}</a>
    </span>
  </ng-container>

  <ng-container *ngIf="isLoggedIn | async">
    <span class="footer__entry">
      <a [routerLink]="" (click)="logout()" logoutButton>logout</a>
    </span>
  </ng-container>

  <ng-container *ngIf="isAdmin | async">
    <span class="footer__entry">
      <a routerLink="/admin">admin panel</a>
    </span>
  </ng-container>

  <ng-container *ngIf="isSuperUser | async">
    <span class="footer__entry">
      <a routerLink="/player-action-logs">player action logs</a>
    </span>
  </ng-container>
</footer>
