<div class="external-profile-links">
  <ng-container *ngIf="player; else ghost">
    <a
      class="external-profile-link"
      [href]="player.steamId | steamProfileLink"
      tooltip="Steam profile"
      target="_blank"
    >
      <img
        srcset="
          /assets/ui_icon_steam_blue_48x48.png,
          /assets/ui_icon_steam_blue_96x96.png 2x
        "
        src="/assets/ui_icon_steam_blue_96x96.png"
        width="48"
      />
      <span class="sr-only">Steam profile</span>
    </a>

    <a
      *ngIf="player.etf2lProfileId"
      class="external-profile-link"
      [href]="player.etf2lProfileId | etf2lProfileLink"
      tooltip="ETF2L profile"
      target="_blank"
    >
      <img
        srcset="
          /assets/ui_icon_etf2l_blue_64x64.png,
          /assets/ui_icon_etf2l_blue_128x128.png 2x
        "
        src="/assets/ui_icon_etf2l_blue_128x128.png"
        width="64"
      />
      <span class="sr-only">ETF2L profile</span>
    </a>

    <a
      class="external-profile-link"
      [href]="player.steamId | logsTfProfileLink"
      tooltip="logs.tf profile"
      target="_blank"
    >
      <img
        srcset="
          /assets/ui_icon_logs_blue_64x64.png,
          /assets/ui_icon_logs_blue_128x128.png 2x
        "
        src="/assets/ui_icon_logs_blue_128x128.png"
        width="64"
      />
      <span class="sr-only">logs.tf profile</span>
    </a>

    <a
      *ngIf="linkedProfiles | selectTwitchTvProfile as twitchTvProfile"
      class="external-profile-link"
      [href]="twitchTvProfile.login | twitchTvProfileLink"
      tooltip="twitch.tv profile"
      target="_blank"
    >
      <span class="sr-only">twitch.tv profile</span>
      <img src="/assets/TwitchGlitchPurple.svg" width="48" height="48" />
    </a>
  </ng-container>

  <ng-template #ghost>
    <div class="ghost"></div>
    <div class="ghost"></div>
  </ng-template>
</div>
