$external-profile-link-card-size: 80px;

.card.external-profile-link {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  margin: 1rem 0;

  font-weight: 600;
  height: $external-profile-link-card-size;

  justify-content: center;

  width: $external-profile-link-card-size;

  &:first-child {
    margin-top: 0;
  }
}
