@use 'components/card';
@use 'utils/outline';

$-external-profile-link-card-size: 80px;

.external-profile-link {
  @extend %card-link;
  @include outline.disable;

  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;

  height: $-external-profile-link-card-size;
  width: $-external-profile-link-card-size;

  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;

  &:first-child {
    margin-top: 0;
  }
}

.ghost {
  @extend %card;

  margin: 1rem 0;

  height: $-external-profile-link-card-size;
  width: $-external-profile-link-card-size;

  &:first-child {
    margin-top: 0;
  }
}
