<div class="modal-body" [ngSwitch]="phase | async">
  <ng-container *ngSwitchCase="'mumble'">
    <h4>Do you have Mumble?</h4>
    <div class="row align-items-center">
      <div class="col-9 px-4"><p><markdown src="/assets/documents/CONFIRM-MUMBLE.md"></markdown></p></div>
      <div class="col-3"><img src="/assets/mumble-logo-png-transparent.png" width="128"></div>
    </div>

    <button type="button" class="btn btn-primary btn-block mt-4" (click)="step()">Yes, I confirm I have Mumble</button>
  </ng-container>

  <ng-container *ngSwitchCase="'rules'">
    <h4>Accept rules</h4>
    <p>
      <markdown src="/assets/documents/RULES.md"></markdown>
    </p>
    <button type="button" class="btn btn-primary btn-block" (click)="step()">Okay, I accept these rules</button>
  </ng-container>
</div>
