<div class="mdc-dialog mdc-dialog--open">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      <div class="mdc-dialog__title">
        Are you ready to play the game now?
      </div>

      <div class="mdc-dialog__actions">
        <button
          type="button"
          class="mdc-button mdc-dialog__button mdc-button--unelevated"
          (click)="readyUp.next()">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Ready!</span>
        </button>

        <button
          type="button"
          class="mdc-button mdc-dialog__button mdc-button--unelevated"
          (click)="leaveQueue.next()">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">No, I can't play now</span>
        </button>
      </div>
    </div>
  </div>

  <div class="mdc-dialog__scrim"></div>
</div>
