<div class="d-flex flex-row">
  <ng-container *ngIf="player; else ghost">
    <img [src]="player.avatar.large" class="avatar">
    <div class="d-flex flex-column py-1">
      <h1>{{ player?.name }}</h1>
      <span><strong>joined:</strong> {{ player?.joinedAt | date:'medium' }}</span>
    </div>
  </ng-container>

  <ng-template #ghost>
    <div class="avatar avatar--ghost"></div>
    <div class="d-flex flex-column py-1">
      <div class="ghost__player-name"></div>
      <div class="ghost__joined"></div>
    </div>
  </ng-template>
</div>
