<div *ngIf="playerStats; else ghost">
  <div class="games-player-total">
    games played total: {{ playerStats.gamesPlayed }}
  </div>

  <div class="d-flex flex-row flex-wrap justify-content-center my-2 px-3">
    <div *ngFor="let classPlayed of playerStats.classesPlayed | keyvalue: orderGameClasses">
      <div class="mx-3 my-1">
        <app-game-class-icon
          [gameClass]="classPlayed.key"
          [tooltip]="classPlayed.key"></app-game-class-icon>
        <span class="player-stats-games-played-class ms-2">{{ classPlayed.value }}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #ghost>
  <div class="games-player-total">
    <div class="ghost"></div>
  </div>
</ng-template>
