<div *ngIf="playerStats; else ghost" class="flex flex-col gap-2">
  <div class="games-player-total">
    games played total: {{ playerStats.gamesPlayed }}
  </div>

  <div class="flex flex-row flex-wrap justify-center gap-6">
    <div *ngFor="let classPlayed of playerStats.classesPlayed | keyvalue: orderGameClasses">
      <div class="flex flex-row gap-2">
        <app-game-class-icon
          [gameClass]="classPlayed.key"></app-game-class-icon>
        <span class="text-white text-xl font-bold">{{ classPlayed.value }}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #ghost>
  <div class="games-player-total">
    <div class="ghost"></div>
  </div>
</ng-template>
