@use "sass:color";
@use "components/surface";
@use "utils/ghost";
@use "theme";

.games-player-total {
  @include surface.make;
  @include surface.shadow;
  @include surface.fill-color(rgb(255, 255, 255));
  @include surface.ink-color(theme.$on-surface);

  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;

  .ghost {
    @include ghost.make-line(300px, 29px, rgb(0, 0, 0));

    margin: 0 auto;
  }
}
