@import "~bootstrap/scss/bootstrap";

.col.narrow {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.class-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 .25em;
  fill: gray("700");
}
