@use 'sass:color';
@use 'components/card';
@use 'utils/ghost';

.games-player-total {
  @extend %card;

  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;

  .ghost {
    @include ghost.make-line(300px, 29px, rgb(0, 0, 0));
    margin: 0 auto;
  }
}

.player-stats-classes-container {
  display: flex;
  flex-flow: row;
  justify-content: center;

  > * {
    margin: 0.5rem;
  }
}

.player-stats-games-played-class {
  font-size: 1.4rem;
  font-weight: bold;
}
