@use 'sass:color';
@use 'components/card';
@use 'utils/outline';

.game-list {
  @extend %card;
  list-style: none;

  .game-list-item {
    margin: 0.3rem 0;

    > a {
      color: rgb(0, 0, 0);
    }
  }
}
