@use 'sass:color';
@use 'components/card';
@use 'utils/outline';

.game-list {
  @extend %card;
  list-style: none;

  .game-list-item {
    margin: 0.3rem 0;

    > a {
      color: rgb(0, 0, 0);
    }
  }
}

.pagination {
  display: flex;

  justify-content: center;
  list-style: none;

  .pagination-item {
    margin: 0 0.5rem;

    > a {
      @include outline.disable;
      color: rgb(255, 255, 255);
    }
  }

  .active > a {
    font-weight: bold;
  }

  .disabled > a {
    color: color.scale(rgb(255, 255, 255), $lightness: -40%);
    pointer-events: none;
  }
}
