@use 'sass:color';
@use 'components/card';
@use 'utils/outline';

.game-list {
  @extend %card;
  list-style: none;
  position: relative;

  .game-list-item {
    margin: 0.3rem 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > a {
      color: rgb(0, 0, 0);
    }
  }

  .loading-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: card.$border-radius;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.games-caption,
%games-caption {
  text-align: center;
}

.no-games {
  @extend %games-caption;
  font-style: italic;
  color: color.adjust(rgb(255, 255, 255), $lightness: -20%);
}
