@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap&subset=latin-ext');
@import 'theme';

$enable-shadows: true;
@import '~bootstrap/scss/bootstrap';

body {
  background-image: url(/assets/bg_night_blur.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@import '~@swimlane/ngx-datatable/index';
@import '~@swimlane/ngx-datatable/themes/bootstrap';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.ngx-datatable.bootstrap .datatable-body .datatable-body-cell {
  padding: .3rem !important;
}
