@use 'sass:color';
@use 'sass:string';
@use 'theme';
@use 'variables';
@use 'font';

@use '@material/theme' as mdc-theme with (
  $primary: theme.$primary,
  $secondary: theme.$secondary,
);

@use '@material/typography' with (
  $font-family: string.unquote('Montserrat, sans-serif'),
);

@use '@material/button';
@use '@material/card';
@use '@material/dialog';
@use '@material/floating-label/mdc-floating-label';
@use '@material/icon-button';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/list';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/snackbar';
@use '@material/textfield';

@include button.core-styles;
@include card.core-styles;
@include dialog.core-styles;
@include icon-button.core-styles;
@include list.core-styles;
@include snackbar.core-styles;
@include textfield.core-styles;
@include typography.core-styles;

$body-bg: #0d1d36;
$body-color: #fff;
$font-family-sans-serif: 'Montserrat', sans-serif;

$link-color: color.adjust(theme.$primary, $lightness: -10%);
$link-decoration: none;
$link-hover-color: color.adjust($link-color, $lightness: -15%);
$link-hover-decoration: underline;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/tooltip';

.mdc-button {
  @include button.height(36px);
}

.mdc-button,
.mdc-list-item {
  &:focus {
    outline: 0;
  }

  &:hover {
    text-decoration: none;
  }
}

.mdc-button,
.mdc-icon-button {
  line-height: 16px; // vertical align of icons
}

.mdc-button--inverted {
  @include button.ink-color(theme.$font-color-light);
}

.mdc-button--secondary {
  @include button.filled-accessible(theme.$secondary);
  @include button.ink-color(theme.$font-color-dark);
  @include button.disabled-container-fill-color(color.adjust(theme.$secondary, $lightness: -30%));
  @include button.disabled-ink-color(color.adjust(white, $lightness: -73%));
}

.mdc-button--contained {
  @include button.filled-accessible(theme.$primary);
}

.mdc-button--white {
  @include button.filled-accessible(rgb(255, 255, 255));
  @include button.ink-color(theme.$font-color-dark);
}

.mdc-button--large {
  @include button.height(46px);
  @include button.shape-radius(variables.$default-border-radius);
  @include button.horizontal-padding(1rem);
  font-size: 1.2rem;
  font-weight: 700;

  /* stylelint-disable-next-line selector-class-pattern */
  .mdc-button__icon {
    width: 26px;
    height: 26px;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .mdc-button__label {
    letter-spacing: normal;
  }
}

.mdc-text-field {
  @include textfield.outline-color(color.adjust(black, $lightness: +80%));
  @include textfield.hover-outline-color(color.adjust(black, $lightness: +70%));
  @include textfield.focused-outline-color(color.adjust(theme.$primary, $lightness: +20%));
}

.mdc-text-field--dense {
  @include textfield.outlined-density(-4);
}

.mdc-card {
  color: theme.$font-color-dark;
}

@import 'components/card';
@import 'components/badge';
@import 'components/button';
@import 'components/detail';
@import 'components/indicator';
@import 'components/pagination';

@import 'global/body';

@import '@swimlane/ngx-datatable/index';
@import '@swimlane/ngx-datatable/themes/bootstrap';
@import '@swimlane/ngx-datatable/assets/icons.css';

.ngx-datatable.bootstrap .datatable-body .datatable-body-cell {
  padding: 0.3rem !important;
}
