@use "sass:color";
@use "sass:string";
@use "theme";
@use "variables";
@use "font";
@use "@material/theme" as mdc-theme with (
  $primary: theme.$primary,
  $secondary: theme.$secondary,
);
@use "@material/typography" with (
  $font-family: string.unquote("Montserrat, sans-serif"),
);
@use "@material/button";
@use "@material/button/mdc-button";
@use "@material/card";
@use "@material/checkbox";
@use "@material/dialog";
@use "@material/floating-label/mdc-floating-label";
@use "@material/icon-button/mdc-icon-button";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/list";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/ripple";
@use "@material/snackbar";
@use "@material/textfield";
@use "@material/radio/styles" as mdc-radio;
@use "@material/form-field";
@use "@material/switch/styles" as mdc-switch;
@use "components/detail";
@use "components/indicator";
@use "components/pagination";
@use "components/surface";

/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* stylelint-disable at-rule-empty-line-before */
@include card.core-styles;
@include checkbox.core-styles;
@include dialog.core-styles;
@include form-field.core-styles;
@include list.deprecated-core-styles;
@include ripple.core-styles;
@include snackbar.core-styles;
@include textfield.core-styles;
@include typography.core-styles;
@include detail.core-styles;
@include indicator.core-styles;
@include pagination.core-styles;
@include surface.core-styles;

$body-bg: #0d1d36;
$body-color: #fff;
$font-family-sans-serif: "Montserrat", sans-serif;
$link-color: theme.$on-surface;
$link-decoration: none;
$link-hover-color: color.adjust($link-color, $lightness: -15%);
$link-hover-decoration: underline;
$input-group-addon-color: theme.$primary;
$input-bg: #fff;
$input-color: theme.$on-surface;

.mdc-button {
  @include button.height(36px);
}

.mdc-button,
.mdc-icon-button {
  line-height: 16px; // vertical align of icons
}

.mdc-button,
.mdc-list-item {
  &:focus {
    outline: 0;
  }

  &:hover {
    text-decoration: none;
  }
}

.mdc-button--inverted {
  @include button.ink-color(theme.$on-primary);
}

.mdc-button--secondary {
  @include button.filled-accessible(theme.$secondary);
  @include button.ink-color(theme.$on-secondary);
  @include button.disabled-container-fill-color(color.adjust(theme.$secondary, $lightness: -30%));
  @include button.disabled-ink-color(color.adjust(theme.$on-secondary, $lightness: -73%));
}

.mdc-button--contained {
  @include button.filled-accessible(theme.$primary);
}

.mdc-button--white {
  @include button.filled-accessible(rgb(255, 255, 255));
  @include button.ink-color(theme.$primary);
}

.mdc-button--large {
  @include button.height(46px);
  @include button.shape-radius(variables.$default-border-radius);
  @include button.horizontal-padding(1rem);

  font-size: 1.2rem;
  font-weight: 700;

  .mdc-button__icon {
    width: 26px;
    height: 26px;
  }

  .mdc-button__label {
    letter-spacing: normal;
  }
}

.mdc-text-field {
  @include textfield.outline-color(color.adjust(black, $lightness: 80%));
  @include textfield.hover-outline-color(color.adjust(black, $lightness: 70%));
  @include textfield.focused-outline-color(color.adjust(theme.$primary, $lightness: 20%));
}

.mdc-text-field--dense {
  @include textfield.outlined-density(-4);
}

.mdc-card {
  color: theme.$on-surface;
}

.focus-none {
  &:focus {
    outline: 0;
  }
}

/* stylelint-disable no-invalid-position-at-import-rule */
@import "global/body";
/* stylelint-enable no-invalid-position-at-import-rule */

.ngx-datatable.bootstrap .datatable-body .datatable-body-cell {
  padding: 0.3rem !important;
}
