@use 'sass:color';
@use 'sass:string';
@use 'theme';
@use 'font';

@use '@material/theme' as mdc-theme with (
  $primary: theme.$primary,
  $secondary: theme.$secondary,
);

// @use '@material/typography/mdc-typography' with (
//   $font-family: string.unquote('Arial, Helvetica, sans-serif'),
// );

@use '@material/button';
@use '@material/icon-button';
@use '@material/dialog';

@include button.core-styles;
@include icon-button.core-styles;
@include dialog.core-styles;

$body-bg: #0d1d36;
$body-color: #fff;
$font-family-sans-serif: 'Montserrat', sans-serif;

$link-color: color.adjust(theme.$primary, $lightness: -10%);
$link-decoration: none;
$link-hover-color: color.adjust($link-color, $lightness: -15%);
$link-hover-decoration: underline;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/tooltip';

.mdc-button {
  height: 36px; // dunno why, but the button's height is not enforced

  &:focus {
    outline: 0;
  }
}

.mdc-button,
.mdc-icon-button {
  line-height: 18px; // vertical align of icons
}

@import 'components/card';
@import 'components/badge';
@import 'components/button';
@import 'components/detail';
@import 'components/indicator';
@import 'components/pagination';

html {
  --mdc-typography-font-family: Montserrat, sans-serif;
  --mdc-typography-body1-font-weight: 500;
}

@import 'global/body';

@import '@swimlane/ngx-datatable/index';
@import '@swimlane/ngx-datatable/themes/bootstrap';
@import '@swimlane/ngx-datatable/assets/icons.css';

.ngx-datatable.bootstrap .datatable-body .datatable-body-cell {
  padding: 0.3rem !important;
}
