<div class="modal-header">
  <h4 class="modal-title pull-left">edit player</h4>
</div>

<div class="modal-body">
  <div class="form-group row">
    <label for="playerName" class="col-2 col-form-label">name</label>
    <div class="col-10">
      <input
        type="text"
        class="form-control"
        id="playerName"
        [(ngModel)]="playerNameValue">
    </div>
  </div>

  <div class="row">
    <div class="col"><h6>skill</h6></div>
  </div>

  <div *ngFor="let skill of playerSkill"
    class="form-group row">
    <label for="rating" class="col-2 col-form-label">{{ skill.gameClass }}</label>
    <div class="col-10">
      <input
        type="number"
        class="form-control"
        id="rating"
        min="1"
        max="5"
        [(ngModel)]="skill.value">
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="save()"
    [disabled]="locked | async">{{ (locked | async) ? 'saving...' : 'save' }}</button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="bsModalRef.hide()"
    [disabled]="locked | async">cancel</button>
</div>
