@use "utils/grid";
@use "utils/respond";

.queue {
  @extend %row;

  justify-content: center;

  &--1x1 {
    .game-class-column {
      @extend %column;
      @include grid.column(12);

      margin: 1rem 0;
    }
  }

  &--4x1 {
    .game-class-column {
      @extend %column;

      margin: 1rem 0;

      @include respond.above(huge) {
        @include grid.column(3);
      }

      @include respond.between(small, huge) {
        @include grid.column(6);
      }

      @include respond.below(small) {
        @include grid.column(12);
      }
    }
  }

  &--3x3 {
    .game-class-column {
      @extend %column;

      margin: 0.5rem 0;

      @include respond.above(huge) {
        @include grid.column(4);
      }

      @include respond.below(huge) {
        @include grid.column(12);
      }
    }
  }
}

.game-class-name {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}
