<div
  *ngIf="queueClasses | async as _queueClasses"
  class="grid gap-4"
  [ngClass]="
    {
      '1': ['grid-cols-1'],
      '2': ['grid-cols-1', 'md:grid-cols-2'],
      '4': ['grid-cols-1', 'md:grid-cols-2', 'lg:grid-cols-4'],
      '9': ['grid-cols-1', 'lg:grid-cols-3']
    }[(queueConfig | async)?.classes.length]
  "
>
  <div *ngFor="let class of _queueClasses">
    <h4
      class="text-2xl font-bold text-white flex flex-row justify-center items-center gap-2"
    >
      <app-game-class-icon
        [gameClass]="class.name"
        [size]="30"
      ></app-game-class-icon>
      {{ class.name }}
    </h4>
    <app-queue-class-slot-list
      [gameClass]="class.name"
    ></app-queue-class-slot-list>
  </div>
</div>
