@use 'sass:color';
@use 'utils/border-radius';
@use 'utils/respond';

$-button-border-radius-large: 1rem;
$-button-border-radius-small: 0.5rem;
$-thumbnail-border-radius: 0.4rem;
$-overlay-background-color: color.adjust(rgb(0, 0, 0), $lightness: 10%, $alpha: -0.4);
$-display-small-buttons-threshold: huge;

.map-vote-btn {
  margin: 1rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: $-button-border-radius-large;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

  @include respond.below($-display-small-buttons-threshold) {
    margin: 0.2rem 0;
    padding: 0.1rem;
    border-radius: $-button-border-radius-small;
  }
}

.map-thumbnail {
  display: block;
  padding: 0;
  height: 160px;
  width: 300px;
  border: 0;
  border-radius: $-thumbnail-border-radius;

  @include respond.below($-display-small-buttons-threshold) {
    height: auto;
  }

  .content-wraper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    height: 100%;
    width: 100%;

    @include respond.above($-display-small-buttons-threshold) {
      flex-flow: column nowrap;
    }

    @include respond.below($-display-small-buttons-threshold) {
      flex-flow: row nowrap;
    }

    .content {
      background-color: $-overlay-background-color;
      color: #fff;

      font-size: 1.2rem;
      font-weight: 700;

      > span {
        @include respond.below($-display-small-buttons-threshold) {
          padding: 0 0.3rem;
        }
      }
    }

    .map-name {
      @include respond.above($-display-small-buttons-threshold) {
        @include border-radius.top($-thumbnail-border-radius);
      }

      @include respond.below($-display-small-buttons-threshold) {
        @include border-radius.left($-thumbnail-border-radius);
      }
    }

    .map-vote-result {
      @include respond.above($-display-small-buttons-threshold) {
        @include border-radius.bottom($-thumbnail-border-radius);
      }

      @include respond.below($-display-small-buttons-threshold) {
        @include border-radius.right($-thumbnail-border-radius);
      }
    }

    .fill {
      flex: 1 1 auto;

      @include respond.above($-display-small-buttons-threshold) {
        display: none;
      }
    }
  }
}
