<button
  type="button"
  class="map-vote-btn"
  [class.is-selected]="selected"
  [disabled]="disabled"
  (click)="toggleVote()">

  <div
    class="map-thumbnail"
    [style.background-image]="'url(' + mapThumbnailImage + ')'">
    <div class="content-wraper">
      <div class="content map-name">
        <span>{{ map }}</span>
      </div>
      <div class="content fill"></div>
      <div class="content map-vote-result">
        <span>{{ votePercent | percent }}</span>
      </div>
    </div>
  </div>
</button>
