@use "components/surface";
@use "theme";
@use "variables";
@use "utils/border-radius";

$-caption-background-color: rgb(6 15 30);
$-border-radius: variables.$default-border-radius * 0.75;
$-odd-item-background-color: rgb(33 40 62 / 52%);
$-even-item-background-color: rgb(6 15 30 / 52%);

.online-player-list {
  @include surface.make;
  @include surface.shadow;

  padding: 0;
  border-radius: $-border-radius;
  max-width: 240px;
  min-width: 200px;

  &__caption-bg {
    @include border-radius.top($-border-radius);

    display: flex;
    justify-content: center;
    background-color: $-odd-item-background-color;
  }

  &__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    border-radius: $-border-radius;
    background-color: $-caption-background-color;
    font-weight: 600;
    font-size: 1rem;
    color: theme.$on-primary;
    padding: 0.5rem;

    .online-player-count {
      display: inline-block;
      font-weight: 650;
      font-size: 1rem;
      color: theme.$secondary;
    }
  }

  &__list {
    max-height: 550px;
    overflow-y: auto;
  }

  &__item {
    @include surface.ripple;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-width: 0;
    padding: 4px 12px;
    font-weight: 600;
    font-size: 0.9rem;
    color: theme.$on-primary;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover {
      text-decoration: none;
    }

    &:last-child {
      @include border-radius.bottom($-border-radius);
    }

    &--odd {
      background-color: $-odd-item-background-color;
    }

    &--even {
      background-color: $-even-item-background-color;
    }
  }
}
