<div class="online-player-list">
  <div class="online-player-list__caption-bg">
    <div class="online-player-list__caption">
      <span>
        online players:
        <div class="online-player-count" [@pulsate]="onlinePlayerCount | async">
          {{ onlinePlayerCount | async }}
        </div>
      </span>
    </div>
  </div>

  <div [@onlinePlayerList]="(onlinePlayers | async)?.length"
    class="online-player-list__list">
    <a *ngFor="let player of onlinePlayers | async; index as i"
      [routerLink]="['/player', player.id]"
      class="online-player-list__item"
      [ngClass]="['online-player-list__item--odd', 'online-player-list__item--even'][i % 2]">
      <span>{{ player.name }}</span>
    </a>
  </div>
</div>
