<div class="flex flex-row">
  <div *ngIf="logsUrl" class="detail--value mx-3" @fadeIn>
    <a
      [href]="logsUrl"
      target="_blank"
      class="flex flex-row items-center align-middle gap-2"
    >
      <i-feather name="file-text" class="icon"></i-feather>
      logs
      <i-feather name="external-link" class="external-link-icon"></i-feather>
    </a>
  </div>

  <div *ngIf="demoUrl" class="detail--value mx-3" @fadeIn>
    <a
      [href]="demoUrl"
      target="_blank"
      class="flex flex-row items-center align-middle gap-2"
    >
      <i-feather name="film" class="icon"></i-feather>
      demo
      <i-feather name="external-link" class="external-link-icon"></i-feather>
    </a>
  </div>
</div>
