<div class="admin-buttons-container">
  <a
    [routerLink]="['/player', playerId, 'edit']"
    class="mdc-button mdc-button--inverted edit-player-button">
    <div class="mdc-button__ripple"></div>
    <i-feather name="edit-2" class="mdc-button__icon" aria-hidden="true"></i-feather>
    <span class="mdc-button__label">edit</span>
  </a>

  <a
    [routerLink]="['/player', playerId, 'bans']"
    class="mdc-button mdc-button--inverted player-bans-button">
    <div class="mdc-button__ripple"></div>
    <i-feather name="alert-octagon" class="mdc-button__icon" aria-hidden="true"></i-feather>
    <span class="mdc-button__label">bans</span>
  </a>
<!--
  <button class="mdc-button mdc-button--raised roles-button">
    <div class="mdc-button__ripple"></div>
    <i-feather name="user" class="mdc-button__icon" aria-hidden="true"></i-feather>
    <span class="mdc-button__label">roles</span>
  </button> -->
</div>
