<div class="admin-buttons-container">
  <a
    [routerLink]="['/player', playerId, 'edit']"
    class="mdc-button mdc-button--inverted edit-player-button">
    <div class="mdc-button__ripple"></div>
    <i-tabler name="pencil" class="mdc-button__icon" aria-hidden="true"></i-tabler>
    <span class="mdc-button__label">edit</span>
  </a>

  <a
    [routerLink]="['/player', playerId, 'bans']"
    class="mdc-button mdc-button--inverted player-bans-button">
    <div class="mdc-button__ripple"></div>
    <i-tabler name="alert-octagon" class="mdc-button__icon" aria-hidden="true"></i-tabler>
    <span class="mdc-button__label">bans</span>
  </a>

  <a *ngIf="isSuperUser"
    [routerLink]="['/player', playerId, 'roles']"
    class="mdc-button mdc-button--inverted edit-player-roles-button">
    <div class="mdc-button__ripple"></div>
    <i-tabler name="trending-up" class="mdc-button__icon" aria-hidden="true"></i-tabler>
    <span class="mdc-button__label">roles</span>
  </a>
</div>
