<div class="admin-buttons-container">
  <button class="mdc-button mdc-button--raised">
    <div class="mdc-button__ripple"></div>
    <i-feather name="edit-2" class="mdc-button__icon" aria-hidden="true"></i-feather>
    <span class="mdc-button__label">edit</span>
  </button>

  <button class="mdc-button mdc-button--raised bans-button">
    <div class="mdc-button__ripple"></div>
    <i-feather name="x" class="mdc-button__icon" aria-hidden="true"></i-feather>
    <span class="mdc-button__label">bans</span>
  </button>

  <button class="mdc-button mdc-button--raised roles-button">
    <div class="mdc-button__ripple"></div>
    <i-feather name="user" class="mdc-button__icon" aria-hidden="true"></i-feather>
    <span class="mdc-button__label">roles</span>
  </button>
</div>
