<div *ngIf="player | async as _player" class="container mx-auto my-4">
  <form [formGroup]="banForm" (ngSubmit)="submit()">
    <div class="flex items-center text-white">
      <button
        type="button"
        class="mdc-icon-button focus-none cancel-button"
        tooltip="Cancel"
        placement="top"
        container="body"
        (click)="cancel()"
      >
        <i-tabler name="x"></i-tabler>
      </button>

      <div class="grow mdc-typography--headline5">Ban {{ _player.name }}</div>

      <button
        type="submit"
        class="mdc-button mdc-button--raised mdc-button--secondary save-button"
        [disabled]="(locked | async) || !banForm.valid"
      >
        <div class="mdc-button__ripple"></div>
        <i-tabler
          name="check"
          class="mdc-button__icon"
          aria-hidden="true"
        ></i-tabler>
        <span class="mdc-button__label">add ban</span>
      </button>
    </div>

    <div class="add-ban-container">
      <select
        class="rounded-md"
        aria-label="Duration input type"
        formControlName="durationInputType"
      >
        <option value="duration" selected>Duration</option>
        <option value="endDate">End date</option>
        <option value="forever">Forever</option>
      </select>

      <div class="flex flex-row">
        <div *ngIf="durationInputType.value === 'duration'">
          <input
            type="number"
            id="durationValue"
            class="rounded"
            formControlName="durationValue"
            min="1"
            tooltip="Time value"
          />
          <select
            class="rounded-md"
            aria-label="Time unit"
            formControlName="durationUnit"
          >
            <option value="seconds" selected>Seconds</option>
            <option value="minutes">Minutes</option>
            <option value="hours">Hours</option>
            <option value="days">Days</option>
            <option value="weeks">Weeks</option>
            <option value="months">Months</option>
            <option value="years">Years</option>
          </select>
          <div>
            <span>Ban expires at: {{ banExpirationDate | async }}</span>
          </div>
        </div>

        <div *ngIf="durationInputType.value === 'endDate'">
          <input
            type="date"
            id="endDate"
            class="rounded"
            formControlName="endDate"
            tooltip="End date"
          />
          <input
            type="time"
            id="endTime"
            class="rounded"
            formControlName="endTime"
            tooltip="End time"
          />
          <div>
            <span>Ban duration: {{ banDuration | async }}</span>
          </div>
        </div>

        <div *ngIf="durationInputType.value === 'forever'">
            <span>Ban expires at: {{ banExpirationDate | async }}</span>
        </div>
      </div>

      <div class="flex flex-row mt-3 gap-4 items-center">
        <span>Reason:</span>
        <input
          type="text"
          class="rounded reason-input"
          aria-labelledby="ban-reason-label"
          formControlName="reason"
          required
        />
      </div>
    </div>
  </form>
</div>
