<div *ngIf="player | async as _player" class="container mx-auto my-4">
  <form [formGroup]="banForm" (ngSubmit)="submit()">
    <div class="flex items-center text-white">
      <button
        type="button"
        class="mdc-icon-button focus-none cancel-button"
        tooltip="Cancel"
        placement="top"
        container="body"
        (click)="cancel()"
      >
        <i-tabler name="x"></i-tabler>
      </button>

      <div class="grow mdc-typography--headline5">Ban {{ _player.name }}</div>

      <button
        type="submit"
        class="mdc-button mdc-button--raised mdc-button--secondary save-button"
        [disabled]="(locked | async) || !banForm.valid"
      >
        <div class="mdc-button__ripple"></div>
        <i-tabler
          name="check"
          class="mdc-button__icon"
          aria-hidden="true"
        ></i-tabler>
        <span class="mdc-button__label">add ban</span>
      </button>
    </div>

    <div class="add-ban-container">
      <div class="flex flex-row">
        <input
          type="range"
          id="length"
          formControlName="length"
          class="form-control-range"
          min="0"
          [max]="lengthValues.length - 1"
          tooltip="Ban length"
        />
        <label for="length" class="mx-2">
          {{ lengthLabel | async }}
        </label>
      </div>

      <div class="flex flex-row mt-3 gap-4 items-center">
        <span>Reason:</span>
        <input
          type="text"
          class="rounded reason-input"
          aria-labelledby="ban-reason-label"
          formControlName="reason"
          required
        />
      </div>
    </div>
  </form>
</div>
