@use 'sass:color';
@use '@material/ripple';
@use 'components/card';
@use 'components/indicator';
@use 'utils/border-radius';
@use 'utils/transition';
@use 'theme';
@use 'variables';

$-game-item-background-color: rgba(255, 255, 255, 0.7);
$-item-height: 80px;
$-item-margin: 24px;
$-game-live-indicator-color: theme.$success;
$-game-live-indicator-size: 20px;
$-games-per-page: 5;

.game-list {
  min-height: ($-item-height + $-item-margin) * $-games-per-page;
  margin: 48px auto;
}

.game-list-item {
  @extend %card-shadow;

  @include ripple.surface;
  @include ripple.radius-bounded;
  @include ripple.states(color.change($-game-item-background-color, $alpha: 0.9));

  overflow: hidden;

  display: flex;
  height: $-item-height;

  padding: 0;
  margin: $-item-margin 0;
  border-radius: variables.$default-border-radius;

  background-color: $-game-item-background-color;
  color: theme.$font-color-dark;

  font-size: 1.5rem;
  font-weight: 600;

  &--content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--map-thumbnail {
    @include border-radius.right(variables.$default-border-radius);
    height: $-item-height;
  }

  &--live-indicator {
    @include indicator.make($-game-live-indicator-color, $size: $-game-live-indicator-size);
    margin: 0 1rem;
  }

  &:hover {
    text-decoration: none;
  }
}
