@use 'sass:color';
@use 'components/card';
@use 'components/indicator';
@use 'utils/border-radius';
@use 'utils/outline';
@use 'theme';

$-game-item-background-color: rgba(255, 255, 255, 0.7);
$-item-height: 80px;
$-item-margin: 1.5rem;
$-game-live-indicator-color: theme.$green;
$-game-live-indicator-size: 20px;

.game-list-item {
  @extend %card-shadow;

  display: flex;
  height: $-item-height;

  padding: 0;
  margin: $-item-margin 0;
  border-radius: 1rem;

  background-color: $-game-item-background-color;
  color: theme.$font-color-dark;

  font-size: 1.5rem;
  font-weight: 600;

  transition: background-color 0.05s;

  &--content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--map-thumbnail {
    @include border-radius.right(1rem);
    height: $-item-height;
  }

  &--live-indicator {
    @include indicator.make($-game-live-indicator-color, $size: $-game-live-indicator-size);
    margin: 0 1rem;
  }

  &:hover {
    text-decoration: none;
    background-color: color.change($-game-item-background-color, $alpha: 0.9);
  }
}
