@use 'sass:color';

$-game-item-background-color: rgb(255, 255, 255);

.game-list {
  &--item {
    display: block;

    background-color: $-game-item-background-color;
    border-radius: 1rem;
    color: color.invert($-game-item-background-color);
    display: block;
    padding: 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    margin: 1.5rem 0;

    color: rgb(0, 0, 0);

    &--map-thumbnail {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }
}
