@use "sass:color";
@use "components/surface";
@use "components/indicator";
@use "utils/border-radius";
@use "theme";
@use "variables";

$-item-height: 80px;
$-item-margin: 24px;
$-game-live-indicator-color: theme.$success;
$-game-live-indicator-size: 20px;
$-games-per-page: 5;

.game-list {
  min-height: ($-item-height + $-item-margin) * $-games-per-page;
  margin: 48px auto;
}

.game-list-item {
  @include surface.make;
  @include surface.shadow;
  @include surface.ripple;
  @include surface.fill-color(theme.$surface);
  @include surface.ink-color(theme.$on-surface);

  display: flex;
  height: $-item-height;
  padding: 0;
  margin: $-item-margin 0;
  font-size: 1.5rem;
  font-weight: 600;

  &__content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__score-block {
  display: block;
  width: 71.5px;
  color: white;

  .red, .blu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .red {
    @include surface.fill-color(theme.$team-red);
  }
  
  .blu {
    @include surface.fill-color(theme.$tem-blu);
  }
  }

  &__map-thumbnail {
    @include border-radius.right(variables.$default-border-radius);

    height: $-item-height;
  }

  &__live-indicator {
    @include indicator.make;
    @include indicator.size($-game-live-indicator-size);
    @include indicator.color($-game-live-indicator-color);

    margin: 0 1rem;
  }

  &:hover {
    text-decoration: none;
  }
}