@use 'utils/grid';
@use 'utils/respond';

.queue-container {
  @extend %row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.column-queue {
  @extend %column;

  @include respond.above(huge) {
    @include grid.column(8);
  }
}

.column-sidebar {
  @extend %column;

  @include respond.above(huge) {
    @include grid.column(2);
  }

  @include respond.below(huge) {
    display: none;
  }
}
