<div
  *ngIf="playerBan"
  class="player-ban-item"
  [class.player-ban-item--expired]="isExpired()"
>
  <div class="d-flex flex-row justify-content-between">
    <div>
      <h6 class="mdc-typography--headline5">
        {{ playerBan.reason }}
        <span class="mdc-typography--body2"
          >by <app-player-name [playerId]="playerBan.admin"></app-player-name
        ></span>
      </h6>
    </div>
    <button
      *ngIf="!isExpired()"
      type="button"
      class="mdc-button"
      (click)="revoke.emit()"
    >
      <div class="mdc-button__ripple"></div>
      <i-tabler
        name="trash2"
        class="mdc-button__icon"
        aria-hidden="true"
      ></i-tabler>
      <span class="mdc-button__label">revoke</span>
    </button>
  </div>
  <div>
    <span class="mdc-typography--body2">starts</span>
    {{ playerBan.start | date : 'medium' }}
  </div>
  <div>
    <span class="mdc-typography--body2">ends</span>
    {{ playerBan.end | date : 'medium' }}
  </div>
</div>
