<div *ngIf="player | async as _player" class="container mx-auto my-4">
  <div class="flex items-center text-white">
    <button
      type="button"
      class="mdc-icon-button cancel-button"
      (click)="cancel()"
      tooltip="Cancel"
    >
      <i-tabler name="x"></i-tabler>
    </button>

    <div class="grow mdc-typography--headline5">{{ _player.name }} bans</div>

    <a
      [routerLink]="['/player/', _player.id, 'bans', 'add']"
      class="mdc-button mdc-button--raised mdc-button--secondary"
    >
      <div class="mdc-button__ripple"></div>
      <i-tabler
        name="plus"
        class="mdc-button__icon"
        aria-hidden="true"
      ></i-tabler>
      <span class="mdc-button__label">add ban</span>
    </a>
  </div>

  <div class="flex flex-col gap-4 my-4">
    <app-player-ban-item
      *ngFor="let ban of bans | async"
      [playerBan]="ban"
      (revoke)="revoke(ban)"
      class="list-group-item"
    ></app-player-ban-item>
  </div>
</div>
