@import "~bootstrap/scss/bootstrap";

.team-header {
  color: theme-color("light");
  text-align: center;
  font-size: 200%;
  font-weight: bold;

  &.team-header-red {
    background-color: #ff6868;
  }

  &.team-header-blu {
    background-color: #71afff;
  }
}
