@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.team-header {
  align-items: center;
  color: theme-color('light');
  display: flex;
  justify-content: center;
  text-align: center;

  .team-name {
    font-size: 200%;
    font-weight: bold;
  }

  &.team-header-red {
    background-color: #ff6868;
  }

  &.team-header-blu {
    background-color: #71afff;
  }

  .team-score {
    font-size: 110%;
  }
}
