@use 'components/surface';
@use 'theme';

.team-header {
  @include surface.make;
  @include surface.shadow;
  @include surface.ink-color(theme.$font-color-light);

  align-items: center;
  display: flex;
  justify-content: center;

  text-align: center;
  padding: 4px 0;
  margin: 4px 0;

  .team-name {
    font-size: 2rem;
    font-weight: 700;
  }

  &--red {
    @include surface.fill-color(theme.$team-color-red);
  }

  &--blu {
    @include surface.fill-color(theme.$team-color-blu);
  }

  .team-score {
    font-size: 110%;
  }
}
