<form [formGroup]="form" (submit)="save()">
  <app-edit-page-wrapper
    title="Force create player account"
    [saveDisabled]="!form.valid || form.pristine"
  >
    <div class="surface surface--white my-4">
      <table
        class="table-auto border-separate border-spacing-x-4 border-spacing-y-2"
      >
        <tbody>
          <tr>
            <td>
              <label id="name">Player name:</label>
            </td>
            <td>
              <input
                type="text"
                class="rounded input-name"
                aria-labelledby="name"
                formControlName="name"
              />
            </td>
          </tr>

          <tr>
            <td><label id="steam-id">SteamID64:</label></td>
            <td>
              <input
                type="text"
                class="rounded input-steam-id"
                aria-labelledby="steam-id"
                formControlName="steamId"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-edit-page-wrapper>
</form>
