@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.player-item {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 3rem;
  padding: 0;

  &.looking-for-substitute {
    justify-content: space-between;

    .dummy {
      height: 30px;
      margin: 0 0.75rem;
      width: 30px;
    }
  }

  .class-icon {
    fill: gray('800');
    height: 30px;
    margin: 0 0.75rem;
    width: 30px;
  }
}
