<div *ngIf="players"
  class="player-list">
  <div *ngFor="let player of players">
    <div *ngIf="player.status !== 'waiting for substitute'; else waitingForSubSlot"
      class="d-flex align-items-center">
      <a [routerLink]="['/player', player.id]" class="player-link-item">
        <app-game-class-icon
          [gameClass]="player.gameClass"
          class="mr-2"></app-game-class-icon>
        {{ player.name }}

        <span *ngIf="player.classSkill"
          class="mdc-typography--caption mx-2">
          {{ player.classSkill }}
        </span>

        <div class="flex-fill"></div>

        <app-player-connection-status
          *ngIf="showPlayerConnectionStatus"
          [connectionStatus]="player.connectionStatus"
          [tooltip]="player.connectionStatus"
          class="mx-2"></app-player-connection-status>
      </a>

      <ng-container *ngIf="showAdminActionButtons">
        <button type="button"
          class="request-substitute-button"
          tooltip="Request substitute"
          (click)="emitRequestSubstitute($event, player)">
          <i-feather name="user-x"></i-feather>
        </button>
      </ng-container>
    </div>

    <ng-template #waitingForSubSlot>
      <div class="d-flex">
        <button type="button"
          class="replace-player"
          (click)="emitReplacePlayer(player)"
          tooltip="Take this spot"
          [disabled]="locked">
          <app-game-class-icon [gameClass]="player.gameClass"></app-game-class-icon>
          <div class="flex-grow-1">
            <i-feather name="plus"></i-feather>
          </div>
          <div class="dummy"></div>
        </button>
      </div>
    </ng-template>
  </div>
</div>
