@use 'sass:color';
@use '@material/ripple';
@use '@material/typography';
@use 'components/surface';
@use 'utils/outline';
@use 'utils/transition';
@use 'theme';

.player-list {
  @include surface.make;
  @include surface.shadow;
  @include surface.fill-color(rgb(255, 255, 255));
  @include surface.ink-color(theme.$font-color-dark);

  padding: 10px 5px;

  .player-list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-width: 0;

    padding: 0 8px;

    &__icon,
    &__connection-status {
      margin: 0 2px;
    }

    &__link {
      @include ripple.surface;
      @include ripple.radius-bounded;
      @include ripple.states;

      overflow: hidden;

      flex: 1 1 auto;
      margin: 0 5px;
      padding: 0 8px;

      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      min-width: 0;

      font-weight: 500;
      line-height: 38px;

      border-radius: 4px;

      &:hover {
        text-decoration: none;
      }
    }

    &__player-name {
      @include typography.overflow-ellipsis;
    }

    &__skill {
      @include typography.base;
      @include typography.typography(caption);

      color: color.adjust(theme.$secondary, $lightness: -15%);
      margin: 0 4px;
    }
  }
}

%button {
  @include ripple.surface;
  @include ripple.radius-bounded;
  @include ripple.states;
  @include outline.disable;

  overflow: hidden;

  border: 0;
  margin: 0 4px;
  border-radius: 8px;
  padding: 0 10px;
}

.request-substitute-button {
  @extend %button;

  background-color: rgb(255, 255, 255);
  line-height: 40px;
  min-width: 44px;
}

.replace-player-button {
  @extend %button;

  line-height: 36px;
  border: 2px solid color.adjust(theme.$primary, $lightness: 70%);
  flex: 1 1 auto;
}
