<form [formGroup]="form" (submit)="save()">
  <app-edit-page-wrapper
    title="Whitelist"
    [saveDisabled]="(isSaving | async) === true || !form.valid || form.pristine"
    (save)="save()">

    <div class="surface surface--white py-4 my-4">
      <div class="mdc-typography--body1 mx-2">
        Provide a whitelist ID which will be used in matches.
        You may leave this field empty - no whitelist will be enforced if you do.
      </div>

      <label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label mdc-text-field--dense mx-2 my-2" #whitelistId>
        <span class="mdc-notched-outline">
          <span class="mdc-notched-outline__leading"></span>
          <span class="mdc-notched-outline__trailing"></span>
        </span>
        <input type="text"
          class="mdc-text-field__input input-whitelist-id"
          aria-labelledby="whitelist-id"
          formControlName="whitelistId">
      </label>

      <div class="mdc-typography--body1 mx-2">
        Please verify the whitelist is valid:
      </div>
      <div class="mdc-typography--body1 mx-2">
        <a [href]="'http://whitelist.tf/' + form.get('whitelistId').value" target="_blank">
          http://whitelist.tf/{{ form.get('whitelistId').value }}
        </a>
      </div>
    </div>
  </app-edit-page-wrapper>
</form>
