@use 'components/badge';
@use 'components/card';
@use 'theme';

$-item-height: 80px;
$-item-margin: 24px;
$-item-background-color: rgba(255, 255, 255, 0.7);

.game-server-list-item {
  @extend %card;

  display: flex;
  height: $-item-height;
  margin: $-item-margin 0;
  padding: 0 32px;
  align-items: center;
  justify-content: space-between;

  background-color: $-item-background-color;
}

.server-name {
  flex: 1 1 auto;

  font-size: 1.5rem;
  font-weight: 600;
}
