<div class="container py-3">
  <div *ngFor="let server of servers | async"
    class="game-server-list-item">

    <span class="server-name">
      {{ server.name }}
    </span>

    <span *ngIf="server.isOnline; else serverOffline" class="badge--online">online</span>
    <ng-template #serverOffline><span class="badge--offline">offline</span></ng-template>

    <button *ngIf="isSuperUser | async"
      type="button"
      class="mdc-icon-button ml-2 remove-game-server-button"
      (click)="removeGameServer(server)"
      tooltip="Remove this game server"
      placement="top"
      container="body">
      <i-feather name="x"></i-feather>
    </button>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <a *ngIf="isSuperUser | async"
      class="mdc-button mdc-button--raised mdc-button--secondary add-game-server-button"
      [routerLink]="['/servers', 'add']">
      <div class="mdc-button__ripple"></div>
      <i-feather name="plus" class="mdc-button__icon" aria-hidden="true"></i-feather>
      <span class="mdc-button__label">add game server</span>
    </a>
  </div>
</div>
