<div class="container py-3">
  <div *ngFor="let server of servers | async"
    class="game-server-list-item">

    <span class="server-name">
      {{ server.name }}
    </span>

    <ng-container *ngIf="isSuperUser | async">
      <a class="mdc-icon-button run-diagnostics-button"
        [routerLink]="['/admin', 'game-server-diagnostics', server.id]"
        tooltip="Run diagnostics"
        placement="top"
        container="body">
        <i-feather name="tool"></i-feather>
      </a>
    </ng-container>

    <ng-container [ngSwitch]="server.isOnline">
      <div *ngSwitchCase="true" class="indicator indicator--online" tooltip="online"></div>
      <div *ngSwitchCase="false" class="indicator indicator--offline" tooltip="offline"></div>
    </ng-container>
  </div>
</div>
