<div class="container mx-auto my-4">
  <div class="flex items-center text-white">
    <button
      goBackButton
      type="button"
      class="mdc-icon-button focus-none"
      appNavigateBack
    >
      <i-tabler name="arrow-left" aria-hidden="true"></i-tabler>
    </button>

    <div class="grow mdc-typography--headline5" title>
      {{ title }}
    </div>

    <button
      saveButton
      *ngIf="submitButton"
      type="submit"
      class="mdc-button mdc-button--raised mdc-button--secondary mx-2 submit-button"
      [disabled]="saveDisabled"
    >
      <div class="mdc-button__ripple"></div>
      <i-tabler
        name="check"
        class="mdc-button__icon"
        aria-hidden="true"
      ></i-tabler>
      <span class="mdc-button__label">save</span>
    </button>
  </div>

  <ng-content></ng-content>
</div>
