<div class="container py-3">
  <div class="d-flex align-items-center">
    <div class="flex-grow-1 mdc-typography--headline5">
      Configuration
    </div>
  </div>

  <a routerLink="map-pool" class="list-item">
    <div class="list-item__content">
      <div class="list-item__content__link">
        Map pool
      </div>
    </div>

    <i-feather name="chevron-right" aria-hidden="true" class="list-item__chevron"></i-feather>
  </a>

  <a routerLink="whitelist" class="list-item">
    <div class="list-item__content">
      <div class="list-item__content__link">
        Whitelist
      </div>
    </div>

    <i-feather name="chevron-right" aria-hidden="true" class="list-item__chevron"></i-feather>
  </a>

  <a routerLink="default-player-skill" class="list-item">
    <div class="list-item__content">
      <div class="list-item__content__link">
        Default player skill
      </div>
    </div>

    <i-feather name="chevron-right" aria-hidden="true" class="list-item__chevron"></i-feather>
  </a>

  <div class="d-flex align-items-center">
    <div class="flex-grow-1 mdc-typography--headline5">
      Actions
    </div>
  </div>

  <a routerLink="force-create-player-account" class="list-item">
    <div class="list-item__content">
      <div class="list-item__content__link">
        Force create player account
      </div>
    </div>

    <i-feather name="chevron-right" aria-hidden="true" class="list-item__chevron"></i-feather>
  </a>

  <a routerLink="player-skill-table" class="list-item">
    <div class="list-item__content">
      <div class="list-item__content__link">
        Player skill table
      </div>
    </div>

    <i-feather name="chevron-right" aria-hidden="true" class="list-item__chevron"></i-feather>
  </a>
</div>
