<div class="container">
  <form [formGroup]="player" (ngSubmit)="save()">
    <div class="form-group row">
      <input
        type="text"
        class="form-control form-control-lg col-9"
        formControlName="name"
        placeholder="player name"
        required>
      <div class="col-1"></div>
      <button
        type="submit"
        class="btn btn-primary col-2"
        [disabled]="!player.valid || player.pristine || (locked | async)">
        {{ (locked | async) ? 'saving...' : 'save' }}
      </button>
    </div>
  </form>
</div>
