<div class="container py-5 position-relative">
  <form [formGroup]="player" (ngSubmit)="save()">
    <div class="form-group row">
      <input
        type="text"
        class="form-control form-control-lg col-10 mr-4"
        formControlName="name"
        placeholder="player name"
        required>
      <button
        type="submit"
        class="btn btn-primary col"
        [disabled]="!player.valid || player.pristine || (locked | async)">
        {{ (locked | async) ? 'saving...' : 'save' }}
      </button>
    </div>

    <div *ngIf="skill" formArrayName="skill">
      <h5>Skill</h5>

      <div *ngFor="let gameClass of gameClasses | async" class="row">
        <app-player-edit-skill [gameClass]="gameClass" [form]="skill" class="col-4"></app-player-edit-skill>
      </div>
    </div>
  </form>

  <div class="close-anchor d-flex justify-content-center align-items-center">
    <a
      [routerLink]=""
      class="text-secondary"
      tooltip="Cancel"
      (click)="cancel()">
      <span class="oi oi-x"></span>
    </a>
  </div>
</div>
