<form [formGroup]="form" (submit)="save()">
  <app-edit-page-wrapper
    title="Voice server"
    [saveDisabled]="!form.valid || form.pristine"
  >
    <div class="surface surface--white py-4 my-4 flex flex-col gap-2">
      <div class="w-full">
        <input
          type="radio"
          class="mx-2"
          id="radio-voice-server-type-none"
          value="none"
          formControlName="type"
        />
        <label for="radio-voice-server-type-none">Disabled</label>
      </div>

      <div class="w-full">
        <input
          class="mx-2"
          type="radio"
          id="radio-voice-server-type-static-link"
          value="static link"
          formControlName="type"
        />
        <label for="radio-voice-server-type-static-link">Static link</label>
      </div>

      <div class="flex flex-col pl-7">
        <input
          type="text"
          formControlName="staticLink"
          class="rounded-md w-full disabled:border-gray-300"
          aria-labelledby="static-link"
          id="static-link-input"
        />
      </div>

      <div class="w-full">
        <input
          class="mx-2"
          type="radio"
          id="radio-voice-server-type-mumble"
          value="mumble"
          formControlName="type"
        />
        <label for="radio-voice-server-type-mumble">Mumble</label>
      </div>

      <div formGroupName="mumble" class="flex flex-col my-2 pl-10 gap-2">
        <div class="flex flex-row gap-2 items-center">
          <label for="mumble-server-url-input">URL:</label>
          <input
            type="text"
            formControlName="url"
            class="rounded-md grow disabled:border-gray-300"
            aria-labelledby="mumble-server-url"
            id="mumble-server-url-input"
          />

          <label for="mumble-server-port-input">Port:</label>
          <input
            type="number"
            formControlName="port"
            class="rounded-md disabled:border-gray-300"
            aria-labelledby="mumble-server-port"
            id="mumble-server-port-input"
          />
        </div>

        <div class="flex flex-row gap-2 items-center">
          <label for="mumble-server-password-input">Server password:</label>

          <input
            type="text"
            formControlName="password"
            class="rounded-md grow disabled:border-gray-300"
            aria-labelledby="mumble-server-password"
            id="mumble-server-password-input"
          />
        </div>

        <div class="flex flex-row gap-2 items-center">
          <label for="mumble-server-channel-name">Channel name:</label>

          <input
            type="text"
            formControlName="channelName"
            class="rounded-md grow disabled:border-gray-300"
            aria-labelledby="mumble-server-channel-name"
          />
        </div>
      </div>
    </div>
  </app-edit-page-wrapper>
</form>
