<form [formGroup]="form" (submit)="save()">
  <app-edit-page-wrapper
    title="Voice server"
    [saveDisabled]="!form.valid || form.pristine"
  >
    <div class="surface surface--white py-4 my-4">
      <div class="mdc-form-field w-full">
        <div class="mdc-radio">
          <input
            class="mdc-radio__native-control"
            type="radio"
            id="radio-voice-server-type-none"
            value="none"
            formControlName="type"
          />
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <div class="mdc-radio__ripple"></div>
        </div>
        <label for="radio-voice-server-type-none">Disabled</label>
      </div>

      <div class="mdc-form-field w-full">
        <div class="mdc-radio">
          <input
            class="mdc-radio__native-control"
            type="radio"
            id="radio-voice-server-type-static-link"
            value="static link"
            formControlName="type"
          />
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <div class="mdc-radio__ripple"></div>
        </div>
        <label for="radio-voice-server-type-static-link">Static link</label>
      </div>

      <div class="flex flex-col pl-10">
        <label
          #staticLink
          class="mdc-text-field mdc-text-field--outlined"
          [class.mdc-text-field--label-floating]="!!(initialStaticLink | async)"
          [class.mdc-text-field--disabled]="type !== 'static link'"
        >
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span
                class="mdc-floating-label"
                [class.mdc-floating-label--float-above]="
                  !!(initialStaticLink | async)
                "
                id="static-link"
              >
                Static link
              </span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
          <input
            type="text"
            formControlName="staticLink"
            class="mdc-text-field__input"
            aria-labelledby="static-link"
            id="static-link-input"
          />
        </label>
      </div>

      <div class="mdc-form-field w-full">
        <div class="mdc-radio">
          <input
            class="mdc-radio__native-control"
            type="radio"
            id="radio-voice-server-type-mumble"
            value="mumble"
            formControlName="type"
          />
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <div class="mdc-radio__ripple"></div>
        </div>
        <label for="radio-voice-server-type-mumble">Mumble</label>
      </div>

      <div formGroupName="mumble" class="flex flex-col my-2 pl-10 gap-2">
        <div class="flex flex-row gap-2">
          <label
            #mumbleServerUrl
            class="mdc-text-field mdc-text-field--outlined flex-1"
            [class.mdc-text-field--label-floating]="
              !!(initialMumbleOptions | async)?.url
            "
            [class.mdc-text-field--disabled]="type !== 'mumble'"
          >
            <span class="mdc-notched-outline">
              <span class="mdc-notched-outline__leading"></span>
              <span class="mdc-notched-outline__notch">
                <span
                  class="mdc-floating-label"
                  [class.mdc-floating-label--float-above]="
                    !!(initialMumbleOptions | async)?.url
                  "
                  id="mumble-server-url"
                >
                  URL
                </span>
              </span>
              <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input
              type="text"
              formControlName="url"
              class="mdc-text-field__input"
              aria-labelledby="mumble-server-url"
              id="mumble-server-url-input"
            />
          </label>

          <label
            #mumbleServerPort
            class="mdc-text-field mdc-text-field--outlined"
            [class.mdc-text-field--disabled]="type !== 'mumble'"
          >
            <span class="mdc-notched-outline">
              <span class="mdc-notched-outline__leading"></span>
              <span class="mdc-notched-outline__notch">
                <span class="mdc-floating-label" id="mumble-server-port"
                  >Port</span
                >
              </span>
              <span class="mdc-notched-outline__trailing"></span>
            </span>
            <input
              type="number"
              formControlName="port"
              class="mdc-text-field__input"
              aria-labelledby="mumble-server-port"
              id="mumble-server-port-input"
            />
          </label>
        </div>

        <label
          #mumbleServerPassword
          class="mdc-text-field mdc-text-field--outlined"
          [class.mdc-text-field--label-floating]="
            !!(initialMumbleOptions | async)?.password
          "
          [class.mdc-text-field--disabled]="type !== 'mumble'"
        >
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span
                class="mdc-floating-label"
                [class.mdc-floating-label--float-above]="
                  !!(initialMumbleOptions | async)?.password
                "
                id="mumble-server-password"
              >
                Password
              </span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
          <input
            type="text"
            formControlName="password"
            class="mdc-text-field__input"
            aria-labelledby="mumble-server-password"
            id="mumble-server-password-input"
          />
        </label>

        <label
          #mumbleServerChannelName
          class="mdc-text-field mdc-text-field--outlined"
          [class.mdc-text-field--label-floating]="
            !!(initialMumbleOptions | async)?.channelName
          "
          [class.mdc-text-field--disabled]="type !== 'mumble'"
        >
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span
                class="mdc-floating-label"
                id="mumble-server-channel-name"
                [class.mdc-floating-label--float-above]="
                  !!(initialMumbleOptions | async)?.channelName
                "
              >
                Channel name
              </span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
          <input
            type="text"
            formControlName="channelName"
            class="mdc-text-field__input"
            aria-labelledby="mumble-server-channel-name"
          />
        </label>
      </div>
    </div>
  </app-edit-page-wrapper>
</form>
