<div
  class="queue-slot-item"
  [class.free]="!slot.playerId"
  [class.taken]="!!slot.playerId"
  [class.by-me]="takenByMe"
  [class.and-ready]="slot.playerReady"
  (click)="takeSlot()">

  <div class="avatar" *ngIf="slot.playerId">
    <app-player-avatar [playerId]="slot.playerId"></app-player-avatar>
  </div>

  <a href="#" *ngIf="slot.playerId; else addPrompt" class="text-white">
    <app-player-name [playerId]="slot.playerId"></app-player-name>
  </a>

  <ng-template #addPrompt>
    <span class="oi oi-plus text-secondary add-prompt"></span>
  </ng-template>

  <button *ngIf="takenByMe && !slot.playerReady"
    type="button"
    class="btn btn-light btn-sm leave-btn"
    (click)="freeSlot($event)">
    <span class="oi oi-minus"></span>
  </button>
</div>
