<div
  *ngIf="slot"
  class="queue-slot-item"
  [ngClass]="{
    'is-free': !slot.player,
    'is-taken': !!slot.player,
    'is-taken-by-me': takenByMe,
    'is-ready': slot.ready,
    'is-locked': locked
  }"
  (click)="maybeTakeSlot()"
>
  <div class="avatar">
    <app-player-avatar
      *ngIf="slot.player"
      [playerId]="slot.player.id"
    ></app-player-avatar>
  </div>

  <a
    *ngIf="slot.player; else addPrompt"
    [routerLink]="['/player', slot.player.id]"
    class="player-name"
  >
    <app-player-name [playerId]="slot.player.id"></app-player-name>
  </a>

  <ng-template #addPrompt>
    <i-tabler name="plus" class="add-prompt"></i-tabler>
  </ng-template>

  <div class="slot-action">
    <button
      *ngIf="!locked && takenByMe && !slot.ready"
      type="button"
      class="slot-action-btn free-slot-btn"
      (click)="emitFreeSlot($event)"
      tooltip="Free this slot"
      container="body"
    >
      <i-tabler name="minus"></i-tabler>
    </button>

    <button
      *ngIf="friendFlags.canMarkAsFriend && slot.player && !takenByMe"
      type="button"
      class="slot-action-btn mark-as-friend-btn"
      [class.is-marked-by-me]="friendFlags.markedByMe"
      [tooltip]="
        friendFlags.markedByMe ? 'Marked as friend' : 'Mark as a friend'
      "
      [disabled]="!!friendFlags.markedBy"
      (click)="emitMarkFriend(slot.player.id, $event)"
    >
      <i-tabler name="heart"></i-tabler>
    </button>
  </div>
</div>
