@use 'sass:color';
@use 'theme';

:host {
  display: flex;
  justify-content: center;

  > * {
    flex: 1 1 auto;
  }
}

%queue-slot-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  height: 3rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
  width: 270px;
  min-width: 270px;
  max-width: 270px;

  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);

  position: relative;

  background-color: theme.$queue-slot-free;
  color: theme.$font-color-dark;
}

.queue-slot-item--free {
  @extend %queue-slot-item;

  > .add-prompt {
    display: none;
  }

  &:not(.locked):hover {
    cursor: pointer;

    > .add-prompt {
      display: inline;
    }
  }
}

.queue-slot-item--taken {
  @extend %queue-slot-item;

  background-color: theme.$queue-slot-taken;

  > a {
    font-size: 1.3rem;
    font-weight: bold;
    color: theme.$font-color-dark;
  }

  .player-name {
    flex: 1 1 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.5rem;
  }
}

%side-slot {
  min-width: 2rem;
}

.avatar {
  @extend %side-slot;
}

.slot-action {
  @extend %side-slot;
}
