@import "~bootstrap/scss/bootstrap";

.queue-slot-item {
  @extend .border;
  @extend .rounded;

  height: 3em;
  margin: 0.1em 0;
  background-color: theme-color-level("light", -5);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  position: relative;

  &.free {
    .add-prompt {
      display: none;
    }

    &:not(.locked):hover {
      background-color: theme-color("light");
      cursor: pointer;

      .add-prompt {
        display: inline;
      }
    }
  }

  &.taken {
    background-color: theme-color-level("primary", -5);

    &.by-me {
      background-color: theme-color("primary");
    }

    &.and-ready {
      background-color: theme-color("success");
    }
  }

  .avatar {
    position: absolute;
    left: .7em;
  }

  .leave-btn {
    position: absolute;
    right: .7em;
  }
}
