@use "sass:color";
@use "@material/ripple";
@use "theme";
@use "variables";
@use "utils/outline";
@use "utils/transition";

$-slot-height: 48px;
$-slot-action-size: 32px;

:host {
  display: flex;
  justify-content: center;

  > * {
    flex: 1 1 auto;
  }
}

.queue-slot-item {
  @include transition.background-color;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: $-slot-height;
  margin: 0.5rem 0;
  padding: 0 1rem;
  max-width: 310px;
  border-radius: variables.$default-border-radius;
  box-shadow: 0 0 1rem rgb(0 0 0 / 50%);
  position: relative;

  a {
    color: theme.$on-surface;
    font-size: 1.3rem;
    font-weight: bold;
  }

  > .player-name {
    flex: 1 1 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.5rem;
  }

  &.is-free {
    background-color: theme.$queue-slot-free;

    .add-prompt {
      display: none;
    }

    &:not(.is-locked) {
      @include ripple.surface;
      @include ripple.radius-bounded;
      @include ripple.states;

      overflow: hidden;

      &:hover {
        cursor: pointer;

        > .add-prompt {
          display: inline;
        }
      }
    }
  }

  &.is-taken {
    background-color: theme.$queue-slot-taken;

    .player-name {
      flex: 1 1 auto;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 0.5rem;
    }

    .is-taken-by-me {
      background-color: color.change(theme.$queue-slot-taken, $alpha: 1);
    }
  }

  &.is-ready {
    background-color: theme.$queue-slot-ready-up;
  }
}

.avatar,
.slot-action {
  min-width: $-slot-action-size;
}

.slot-action-btn {
  @include outline.disable;
  @include ripple.surface;
  @include ripple.radius-bounded;
  @include ripple.states;

  overflow: hidden;
  width: $-slot-action-size;
  height: $-slot-action-size;
  margin: 0;
  padding: 0;
  border-radius: 0.3rem;
  border: 1px solid color.adjust(rgb(255 255 255), $lightness: -10%);
  display: flex;
  align-items: center;
  justify-content: center;

  &.mark-as-friend-btn {
    &.is-marked-by-me {
      background-color: theme.$queue-slot-mark-as-friend-button;
      color: rgb(255 255 255);
    }
  }
}
