<div *ngIf="game | async as _game"
  class="container">
  <h4>
    Pickup #{{ _game.number }}
    <ng-container *ngIf="(isAdmin | async) && (_game.state === 'launching' || _game.state === 'started')">
      <small class="text-secondary ml-2">
        &bull;
        <a [routerLink]="" class="text-secondary" (click)="reinitializeServer()">reinitialize server</a>
        &bull;
        <a [routerLink]="" class="text-secondary" (click)="forceEndGame()">force end</a>
      </small>
    </ng-container>
  </h4>

  <app-game-basic-info
    [launchedAt]="_game.launchedAt"
    [map]="_game.map"
    [gameServerName]="gameServerName | async"
    [state]="_game.state"
    [error]="_game.error"></app-game-basic-info>

  <app-join-game-info *ngIf="_game.state === 'launching' || _game.state === 'started'"
    [gameId]="_game.id"
    [connectString]="_game.connectString"></app-join-game-info>

  <app-game-summary *ngIf="_game.state === 'ended'"
    [logsUrl]="_game.logsUrl"
    [demoUrl]="_game.demoUrl"></app-game-summary>

  <div class="row mt-4">
    <div class="col">
      <app-game-team-player-list
        [players]="playersBlu | async"
        team="blu"></app-game-team-player-list>
    </div>

    <div class="col">
      <app-game-team-player-list
        [players]="playersRed | async"
        team="red"></app-game-team-player-list>
    </div>
  </div>
</div>
