<div *ngIf="game | async as _game"
  class="container">
  <h4>
    Pickup #{{ _game.number }}
    <ng-container *ngIf="(isAdmin | async) && (isRunning | async)">
      <small class="text-secondary ml-2">
        &bull;
        <a [routerLink]="" class="text-secondary" (click)="reinitializeServer()">reinitialize server</a>
        &bull;
        <a [routerLink]="" class="text-secondary" (click)="forceEndGame()">force end</a>
      </small>
    </ng-container>
  </h4>

  <app-game-basic-info
    [launchedAt]="_game.launchedAt"
    [map]="_game.map"
    [gameServerName]="gameServerName | async"
    [state]="_game.state"
    [error]="_game.error"></app-game-basic-info>

  <ng-container *ngIf="isRunning | async">
    <app-join-game-info *ngIf="isMyGame | async"
      [gameId]="_game.id"
      [connectString]="_game.connectString"></app-join-game-info>
  </ng-container>

  <app-game-summary *ngIf="_game.state === 'ended'"
    [logsUrl]="_game.logsUrl"
    [demoUrl]="_game.demoUrl"></app-game-summary>

  <div class="row mt-4">
    <div class="col">
      <app-game-team-player-list
        [players]="playersBlu | async"
        team="blu"
        [showPlayerConnectionStatus]="isRunning | async"
        [showAdminActionButtons]="(isAdmin | async) && (isRunning | async)"
        (requestSubstitute)="requestSubstitute($event)"
        (replacePlayer)="replacePlayer($event)"
        [locked]="isLocked | async"></app-game-team-player-list>
    </div>

    <div class="col">
      <app-game-team-player-list
        [players]="playersRed | async"
        team="red"
        [showPlayerConnectionStatus]="isRunning | async"
        [showAdminActionButtons]="(isAdmin | async) && (isRunning | async)"
        (requestSubstitute)="requestSubstitute($event)"
        (replacePlayer)="replacePlayer($event)"
        [locked]="isLocked | async"></app-game-team-player-list>
    </div>
  </div>
</div>
