<div *ngIf="store.game | async as _game" class="container py-3">
  <div class="d-flex flex-row align-items-center">
    <div class="mdc-typography--headline4 me-3">Pickup #{{ _game.number }}</div>

    <app-game-admin-buttons
      *ngIf="store.showAdminTools | async"
      (reinitializeServer)="reinitializeServer()"
      (forceEnd)="forceEnd()"
      (reassign)="reassign($event)"
    ></app-game-admin-buttons>

    <app-game-summary
      *ngIf="_game.state === 'ended'"
      [logsUrl]="_game.logsUrl"
      [demoUrl]="_game.demoUrl"
      class="flex-grow-1"
    ></app-game-summary>

    <app-show-skills-switch
      *ngIf="store.isAdmin | async"
      [showSkills]="store.skillsVisible | async"
      (showSkillsToggle)="store.setSkillsVisible($event)"
    ></app-show-skills-switch>
  </div>

  <app-game-basic-info
    [launchedAt]="_game.launchedAt"
    [map]="_game.map"
    [gameServerName]="store.serverName | async"
    [state]="_game.state"
    [error]="_game.error"
    class="game-basic-info"
  ></app-game-basic-info>

  <div *ngIf="store.isRunning | async" class="game-runtime-info">
    <div
      *ngIf="store.isMyGame | async; else watchGameInfo"
      class="d-flex align-items-center"
    >
      <app-connect-string
        [connectString]="store.connectString | async"
        [connectTimeout]="store.joinGameServerTimeout | async"
        class="flex-grow-1 me-3"
      ></app-connect-string>
      <app-join-voice-button
        [mumbleUrl]="store.voiceChannelUrl | async"
      ></app-join-voice-button>
    </div>

    <ng-template #watchGameInfo>
      <app-connect-string
        [stvConnectString]="_game.stvConnectString"
      ></app-connect-string>
    </ng-template>
  </div>

  <div class="row mt-4">
    <div *ngFor="let team of teams" class="col" [ngClass]="'team-' + team">
      <app-game-team-header
        [team]="team"
        [score]="store.scoreOf(team) | async"
      ></app-game-team-header>
      <app-game-team-player-list
        [slots]="store.players | async | playersInTeam : team"
        [showPlayerConnectionStatus]="store.isRunning | async"
        [showAdminActionButtons]="store.showAdminTools | async"
        [showAssignedSkills]="store.skillsVisible | async"
        (requestSubstitute)="requestSubstitute($event)"
        (replacePlayer)="replacePlayer($event)"
        [locked]="(store.canSubstitute | async) !== true"
        class="d-block mt-4"
      ></app-game-team-player-list>
    </div>
  </div>
</div>
