@use "theme";
@use "components/badge";

.badge:first-child {
  margin-left: 0;
}

.badge--admin {
  @include badge.make(theme.$secondary);
  @include badge.ink-color(theme.$on-secondary);
}

.badge--twitch {
  @include badge.make(theme.$twitchtv);
  @include badge.ink-color(rgb(255, 255, 255));
}

.divider {
  background-color: rgb(255 255 255);
  height: 1px;
  margin: 0.8rem 0 1rem;
  width: 100%;
}
