@use 'theme';

.badge:first-child {
  margin-left: 0;
}

.badge-admin {
  background-color: theme.$badge-primary-color;
}

.badge-twitch {
  background-color: theme.$badge-twitch-color;
}

.divider {
  background-color: rgb(255, 255, 255);
  height: 2px;
  margin: 0.8rem 0 1rem;
  width: 100%;
}
