name: build-docker-image

on:
  push:
    tags:
      - '*.*.*'

jobs:
  docker:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - branding: tf2pickup.cz
            apiUrl: api.tf2pickup.cz
          - branding: tf2pickup.de
            apiUrl: api.tf2pickup.de
          - branding: yu.tf2pickup.eu
            apiUrl: api.yu.tf2pickup.eu
          - branding: tf2pickup.fi
            apiUrl: api.tf2pickup.fi

    steps:
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v3
        with:
          images: tf2pickuppl/${{ matrix.branding }}

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          build-args: |
            branding=${{ matrix.branding }}
            apiUrl=${{ matrix.apiUrl }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

      - name: Print image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
