name: build-docker-image

on:
  release:
    types: [created, edited]

env:
  REGISTRY: ghcr.io

jobs:
  docker:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - branding: tf2pickup.cz
            apiUrl: api.tf2pickup.cz
          - branding: tf2pickup.de
            apiUrl: api.tf2pickup.de
          - branding: tf2pickup.fi
            apiUrl: api.tf2pickup.fi
          - branding: tf2pickup.pt
            apiUrl: api.tf2pickup.pt
          - branding: tf2pickup.se
            apiUrl: api.tf2pickup.se
          - branding: tf2pickup.it
            apiUrl: api.tf2pickup.it
          - branding: bball.tf2pickup.eu
            apiUrl: api.bball.tf2pickup.eu
          - branding: tf2pickup.ru
            apiUrl: api.tf2pickup.ru
          - branding: sib.tf2pickup.ru
            apiUrl: api.sib.tf2pickup.ru
          - branding: tf2pickup.co.il
            apiUrl: api.tf2pickup.co.il
          - branding: br.tf2pickup.org
            apiUrl: api.br.tf2pickup.org
          - branding: hl.br.tf2pickup.org
            apiUrl: api.hl.br.tf2pickup.org
          - branding: ultiduo.tf2pickup.eu
            apiUrl: api.ultiduo.tf2pickup.eu
          - branding: hl.tf2pickup.eu
            apiUrl: api.hl.tf2pickup.eu
          - branding: 6v6.poland.tf
            apiUrl: api.6v6.poland.tf
          - branding: hl.poland.tf
            apiUrl: api.hl.poland.tf
          - branding: bball.poland.tf
            apiUrl: api.bball.poland.tf
          - branding: ultiduo.poland.tf
            apiUrl: api.ultiduo.poland.tf
          - branding: tf2pickup.eu
            apiUrl: api.tf2pickup.eu
          - branding: hl.tf2pickup.us
            apiUrl: api.hl.tf2pickup.us
          - branding: arena.tf2pickup.eu
            apiUrl: api.arena.tf2pickup.eu
          - branding: au.tf2pickup.org
            apiUrl: api.au.tf2pickup.org
          - branding: tf2pickup.us
            apiUrl: api.tf2pickup.us

    steps:
      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/tf2pickup-org/${{ matrix.branding }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern=stable,enable=${{ !contains(github.event.push.ref, 'alpha') && !contains(github.event.push.ref, 'beta') && !contains(github.event.push.ref, 'rc') }}

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          push: true
          build-args: |
            branding=${{ matrix.branding }}
            apiUrl=${{ matrix.apiUrl }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

      - name: Print image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
